.kit-select-nested {
    position: relative;
    z-index: 1;
    display: block;
    min-width: 108px;
    font-family: "PT Sans", sans-serif;

    &__filter {
        padding: 33px 10px 9px 10px;
        border-bottom: 2px dashed #939393;
    }

    &__search-field {
        position: relative;
    }

    &__input {
        padding-right: 20px;
        padding-left: 6px;
        box-sizing: border-box;
        width: 100%;
        height: 26px;
        font-family: "PT Sans", sans-serif;
        border: 1px solid #b0b2b5;
        border-radius: 2px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
    }

    &__icon {
        position: absolute;
        top: 2px;
        right: 2px;
        transform: scale(0.8);
    }
}

.kit-select-nested__dropdown-sublist {
	display: none;

	.kit-select-nested__dropdown-option_show_sublist > & {
		display: block;
	}
}

.kit-select-nested__dropdown-option-sublist-toggle-title {
	pointer-events: none;
}
