.kit-breadcrumb-item {
  position: relative;
  margin-left: 28px;
  margin-bottom: 10px;
  padding: 9px 14px 8px;
  border: 0;
  background-color: #fff;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #265378;
  list-style: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: -17px;
    background-image: url(../../../assets/icons/arrow.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 8px;
    height: 11px;
  }

  &::after {
    left: auto;
    right: -19px;
    pointer-events: none;
  }

  &:focus {
    outline:none;
    box-shadow: 0 0 5px grey;
  }

  &:last-child {

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      right: -20px;
      background-size: auto;
      background-repeat: no-repeat;
      width: 8px;
      height: 11px;
      background-image: url(../../../assets/icons/arrow.svg);
      transform: rotate(90deg);
    }
  }
}
