$kit-actions-dropdown-padding: 15px;

.kit-actions-dropdown {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&_opened {
		z-index: 3;
	}
}

.kit-actions-dropdown__toggle {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 14px;
	height: 20px;
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	appearance: none;
	cursor: pointer;
	outline: none;

	.kit-actions-dropdown_opened & {
		z-index: 7;
		outline: none;
	}
}

.kit-actions-dropdown__toggle-icon {
	width: 4px;
	height: 16px;
	margin: auto;
	fill: #c5d6e1;
	outline: none;

	.kit-actions-dropdown_opened & {
		fill: #8aacc2;
	}
}

.kit-actions-dropdown__toggle-label {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
	transform: translate(1px, 1px);
	outline: none;
}

.kit-actions-dropdown__container {
	position: absolute;
	top: -10px;
	z-index: 2;
	text-align: left;
	min-width: 106px;
	text-align: left;
	border-radius: 4px;
	overflow: hidden;
	background-color: #ffffff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.36);
}

.kit-actions-dropdown_left .kit-actions-dropdown__container {
	right: -8px;
	padding: 6px 28px 7px $kit-actions-dropdown-padding;
}

.kit-actions-dropdown_right .kit-actions-dropdown__container {
	left: -8px;
	padding: 6px $kit-actions-dropdown-padding 7px 28px;
}

.kit-actions-dropdown__action {
	margin: 7px 0;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color: #333333;
	cursor: pointer;
	transition: opacity 0.3s ease-out;

	.kit-filtration-condition__more &,
	.kit-filtration-group__more & {
		white-space: nowrap;
	}

	&:hover {
		opacity: 0.6;
	}

	&_disabled {
		opacity: 0.5;
		cursor: default;

		&:hover {
			opacity: 0.5;
		}

		&:active {
			pointer-events: none;
		}
	}
}

.kit-actions-dropdown__group {
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	margin: 0 -28px -1px (-$kit-actions-dropdown-padding);
	padding: 4px $kit-actions-dropdown-padding 8px;

	&:first-child {
		border-top: none;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	.kit-actions-dropdown__action + & {
		margin-top: $kit-actions-dropdown-padding;
	}
}

.kit-actions-dropdown__group-title {
	margin: 7px 0;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	color: #999999;
	cursor: default;
}
