$borderColor: #d9e7fe;
$borderHoverColor: #e2eaf0;
$mainColor: #3875d7;

.kit-segment-button-extend {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 16px;
	border-radius: 8px;
	border: solid 1px $borderColor;
	background-color: transparent;
	color: $mainColor;
	box-sizing: border-box;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	outline: none;
	cursor: pointer;

	&:hover {
		border-color: $borderHoverColor;
		background-color: $borderHoverColor;
	}
}
