$textFilterColor: #333333;
$borderColor: #d9e7fe;
$borderHoverColor: #e2eaf0;
$mainColor: #3875d7;
$borderPopoverColor: #dddddc;

.kit-segment-button-expand {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 16px;
	background-color: transparent;
	border: solid 1px $borderColor;
	border-radius: 8px;
	outline: none;
	box-sizing: border-box;
	color: $mainColor;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: $borderHoverColor;
		border-color: $borderHoverColor;
	}

	&_open {
		border-color: transparent;

		svg {
			transform: rotate(180deg);
		}

		&::after,
		&::before {
			position: absolute;
			width: 32px;
			content: "";
		}

		&::after {
			top: 100%;
			left: -1px;
			z-index: 1;
			height: 10px;
			background-color: #ffffff;
		}

		&::before {
			top: -3px;
			left: -2px;
			z-index: 1;
			display: block;
			height: 23px;
			background-color: #ffffff;
			border-width: 1px 1px 0 1px;
			border-style: solid;
			border-color: $borderPopoverColor;
			border-radius: 10px 10px 0 0;
		}

		svg {
			z-index: 1;
		}
	}
}

.kit-segment-button-expand__button-filter {
	position: absolute;
	top: 15px;
	right: 17px;
	z-index: 10;
	display: inline-flex;
	align-items: center;
	height: 16px;
	margin: 0;
	padding: 0 10px 0 10px;
	background-color: $borderHoverColor;
	border: 0;
	border-radius: 8px;
	outline: none;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 11px;
	line-height: 1;
	color: $textFilterColor;
	cursor: pointer;

	svg {
		margin-right: 6px;
	}
}
