.kit-select {
    position: relative;
    z-index: 1;
    display: block;
    min-width: 108px;
    font-family: 'PT Sans', sans-serif;

    &__title {
        position: relative;
        z-index: 3;
        width: 100%;
        min-width: 100px;
        height: 29px;
        padding-right: 27px;
        padding-left: 8px;
        background-image: linear-gradient(to bottom, #fefefe, #e2e3e5);
        border: 1px solid #b0b2b5;
        border-radius: 2px;
        outline: none;
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
        color: #000000;
        text-align: left;
        cursor: pointer;
        display: block;

        &::after {
            position: absolute;
            top: 12px;
            right: 14px;
            border: 3px solid transparent;
            border-top: 4px solid #323232;
            content: '';
            transform-origin: 50% 2px;
            transition: transform 0.3s ease-out;
        }

        &:disabled {
            background-image: linear-gradient(to bottom, #fcfcfc, #f4f6f5);
            border: 1px solid #f0ece4;
            cursor: default;
        }
    }

    &__option-title {
        margin: 0;
        margin-top: 14px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        display: inline-block;
    }

    &__desc {
        display: inline-block;
        margin: 0;
        font-size: 13px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.66);
    }

    &_size_small &__placeholder,
    &__title:disabled &__placeholder {
        font-size: 13px;
        color: #767676;
    }

    &_size_small &__title {
        height: 21px;
        background-image: linear-gradient(to bottom, #fcfcfc, #f4f6f5);
        border-color: #f0ece4;

        &::after {
            top: 8px;
        }
    }

    &_open {
        z-index: 10;
    }

    &_open &__title {
        border-bottom: none;
        background: #ffffff;
    }

    &_open &__title::after {
        transform: rotate(180deg);
    }

    &_filtered.kit-select_open &__title {
        background: #f6f7f7;
    }

    &__placeholder {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-style: italic;
        opacity: 0.65;
    }

    &__value {
        font-size: 14px;
    }

    &__drop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding-top: 28px;
        background-color: #f6f7f7;
        border: 1px solid #b0b2b5;
        border-radius: 2px;
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &_size_small &__drop {
        padding-top: 20px;
        border-color: #f0ece4;
    }

    &_filtered &__drop {
        padding-top: 0;
    }

    &_open &__drop {
        visibility: visible;
        opacity: 1;
    }

    &__filter {
        padding: 33px 10px 9px 10px;
        border-bottom: 2px dashed #939393;
    }

    &__search-field {
        position: relative;
    }

    &__input {
        width: 100%;
        height: 26px;
        padding-right: 20px;
        padding-left: 6px;
        background-color: #ffffff;
        border: 1px solid #b0b2b5;
        border-radius: 2px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
    }

    &__icon {
        position: absolute;
        top: 2px;
        right: 2px;
        transform: scale(0.8);
    }

    &__list {
        padding-top: 2px;
        padding-bottom: 6px;
        background-color: #ffffff;
        border-radius: 2px;
        overflow: hidden;
    }

    &_filtered &__list {
        padding-top: 7px;
    }

    &__item {
        position: relative;
        z-index: 1;
        width: 100%;
        padding-top: 2px;
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 3px;
        border: none;
        border-radius: 2px;
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
        font-size: 13px;
        color: #000000;
        text-align: left;
        cursor: pointer;
        display: block;
        background: none;

        &:hover {
            color: #ffffff;

            .kit-select__desc {
                color: #ffffff;
            }
        }

        &::before {
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: 0;
            z-index: -1;
            width: 100%;
            background-color: #3875d7;
            content: '';
            visibility: hidden;
            opacity: 0;
        }

        &:hover::before {
            visibility: visible;
            opacity: 1;
        }

        &:disabled:hover,
        &:disabled {
            color: #000000;
            opacity: 0.35;
        }

        &:disabled::before {
            display: none;
        }
    }

    &__separator {
        height: 1px;
        margin-top: 10px;
        margin-bottom: 5px;
        background-color: #d4d4d4;
        opacity: 0.35;
    }

    &_filtered &__item::before {
        top: -3px;
        height: 31px;
    }

    &_filtered &__item {
        height: 25px;
        padding-right: 12px;
        padding-left: 12px;
    }

    &_one-selected {
        .kit-select__title {
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #c5d6e1;
        }

        .kit-select__placeholder {
            font-style: normal;
        }
    }

    &_selected {
        .kit-select__drop {
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        }
    }

    &_selected &__title {
        border: 1px solid #b0b2b5;
        background: #f6f7f7;
        border-bottom: 1px dashed;
    }
}
