.kit-row {
    align-items: flex-end;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
    box-sizing: border-box;
    display: flex;

    &_edit {
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 14px;
        padding-bottom: 15px;
        border-bottom: 1px solid #d4d4d4;
    }

    &__content {
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        flex-grow: 1;
        min-height: 23px;
        box-sizing: border-box;
        font-size: 14px;
        display: flex;

        &_error {
            color: #a12e1e;
            font-style: italic;
        }

        a {
            color: #305176;

            &:hover {
                color: #888888;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__name {
        position: relative;
        position: relative;
        width: 154px;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2px;
        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        color: #888888;

        &::after {
            position: absolute;
            bottom: 6px;
            width: 100%;
            border-bottom: 1px dashed #d4d4d4;
            content: '';
        }
    }

    &:not(.kit-row_edit) &__name {
        overflow: hidden;
    }

    &__help {
        position: relative;
        top: -8px;
        left: 5px;
        height: 5px;
        display: inline-block;
    }

    &__name-text {
        position: relative;
        z-index: 1;
        max-width: 100px;
        background-color: #ffffff;
    }

    &_edit &__name {
        min-width: 210px;
        padding-top: 5px;
        padding-right: 15px;
        box-sizing: border-box;

        &_help {
            padding-top: 0;
        }

        &::after {
            display: none;
        }
    }

    &_edit &__name-text {
        background-color: transparent;
        color: #000000;
    }

    &__text {
        padding-top: 5px;
    }

    &__desc {
        width: 100%;
        margin-top: 7px;
        margin-bottom: -4px;
        font-size: 13px;

        &_danger {
            font-weight: bold;
            color: #a12e1e;
        }
    }

    &__control {
        margin-right: 8px;
    }

    &__select {
        width: 378px;
    }

    &__select-checked {
        width: 378px;

        &:last-child {
            width: 100%;
            width: 100%;
            margin-top: 15px;
        }
    }

    &__select-calendar {
        width: 251px;

        &:last-child {
            width: 100%;
            margin-top: 15px;
        }
    }

    &__select-double {
        width: 251px;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__submit {
        width: 210px;
    }

    &__footer {
        align-items: center;
        margin-top: 20px;
        display: flex;
    }

    &__small-filter {
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid #f0ece4;
        border-radius: 3px;
        display: block;

        &_bottom {
            margin-top: 14px;
        }
    }

    &__filter-inner {
        width: 305px;
    }

    &__control-filter:last-child {
        margin-top: 14px;
    }

    &__filter {
        width: 100%;
        height: 283px;
        background-color: #ffffff;
        border: 1px solid #f0ece4;
        border-radius: 3px;

        &_bottom {
            margin-top: 14px;
        }
    }

    &__action {
        width: 379px;
        margin-right: 10px;

        &:nth-child(2) {
            width: 278px;
        }

        &:nth-child(3) {
            width: auto;
        }
    }

    &__action-filter {
        width: 667px;
        height: 149px;
        margin-top: 15px;
        background-color: #ffffff;
        border: 1px solid #f0ece4;
        border-radius: 2px;
    }

    &__remove {
        position: absolute;
        top: 6px;
        right: -9px;
        width: 18px;
        height: 20px;
        padding: 0;
        border: none;
        cursor: pointer;
        background: none;
    }

    &__input {
        width: 40px;
    }
}