.kit-action-filter {
    max-width: 665px;
    margin-top: 15px;
    background-color: #ffffff;
    border: 1px solid #f0ece4;
    border-radius: 2px;
    font-family: "PT Sans", sans-serif;

    &__content {
        display: flex;
        padding: 14px 19px 20px 19px;
    }

    &__title {
        margin-bottom: 5px;
        font-size: 14px;
        color: #000000;
    }

    &__type {
        width: 199px;
        margin-right: 10px;
    }

    &__name {
        width: 417px;
    }

    &__footer {
        display: flex;
        padding: 14px 19px;
        border-top: 1px solid rgba(212, 212, 212, 0.35);
    }

    &__footer-inner {
        margin-right: 11px;
    }
}