.textLine {
    font-family: "PT Sans", sans-serif;
    color: #333;
    font-size: 14px;

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 26px;
    }

    &__description {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    &__input-box {
        position: relative;
        display: flex;
    }

    &__input {
        width: 100%;
        padding-left: 10px;
        padding-right: 178px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 4px;
        border: 2px solid #a0ba82;
        font-size: 14px;
        box-sizing: border-box;
    }

    &__signature {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 14px;
        line-height: 1;
        color: #888;
        opacity: .5;
    }
}