.kit-section-wrapper {
    position: relative;
    margin-bottom: 16px;
    padding-top: 24px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 7px;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;

    &_active {
        border-width: 2px;
        border-color: #a0ba82;
    }

    &_edit {
        padding-bottom: 20px;
        background-color: #fffaed;
        border-width: 2px;
        border-color: #a0ba82;
    }

    &__button-edit {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
		outline: none;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &_hide {
            right: auto;
            left: -9999;
            visibility: hidden;
            opacity: 0;
        }
    }

    &__title {
        display: inline-block;
        margin: 0 0 5px 0;
        border-bottom: 1px dashed;
        font-size: 18px;
        line-height: 1;
        font-weight: normal;
    }

    &__title-inner {
        display: none;

        &_show {
            display: inline-block;
        }
    }

    &__button {
        display: none;
        height: 18px;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
		outline: none;
        font-family: "PT Sans", sans-serif;
        font-size: inherit;
        line-height: 1;
        font-weight: inherit;
        color: inherit;
        vertical-align: top;
        cursor: pointer;

        &_show {
            display: inline-block
        }
    }

    &_active &__title {
        position: relative;
        color: #417505;

        &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: -24px;
            width: 18px;
            height: 16px;
            background-image: url(../assets/icons/icons.png);
            background-position: -360px -160px;
            background-size: 400px;

            @media (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                background-image: url(../assets/icons/icons@2x.png);
            }
        }
    }

    &_edit &__title {
        margin: 0;
    }
}
