.kit-filter-condition-selector {
	position: absolute;
	top: 30px;
	left: 10px;
	display: flex;
	width: 982px;
	height: 740px;
	background-color: #fff;
	border: 1px solid #c8d8e2;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
	z-index: 2;
	overflow: hidden;
}

.kit-filter-condition-selector__hierarchy {
	width: 382px;
	border-right: 1px solid #c8d8e2;
}

.kit-filter-condition-selector__helper {
	background-color: #fafaf7;
	width: 602px;
}

.kit-filter-condition-selector__filter-block {
	padding: 0 10px;
	background-color: #e2eaf0;
	height: 80px;
	border-bottom: 1px solid #c8d8e2;
	font-size: 14px;

	.kit-input-field-wrap {
		margin-top: 1px;
	}
}

.kit-filter-condition-selector__filter-btn-block {
	margin-top: 7px;
	margin-left: 2px;
}

.kit-filter-condition-selector__filter-btn {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #8aacc2;
	text-decoration: none;

	&:not(:last-child) {
		margin-right: 14px;
	}

	&_active {
		color: #000;
	}
}

.kit-filter-condition-selector__help-caption-title {
	position: absolute;
	margin: 0;
	padding-top: 24px;
	padding-left: 24px;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
}

.kit-filter-condition-selector__editor-wrapper {
	padding: 24px;
	padding-top: 60px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-top-right-radius: 2px;
}

.kit-filter-condition-selector__help-wrapper-text {
	padding: 24px;
	padding-top: 60px;

	.kit-filter-condition-selector__editor-wrapper + & {
		padding-top: 24px;
	}
}
