.kit-filter-condition-selector {
	position: absolute;
	top: 30px;
	left: 10px;
	display: flex;
	width: 982px;
	height: 740px;
	background-color: #fff;
	border: 1px solid #c8d8e2;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
	z-index: 20;
	overflow: hidden;
}

.kit-filter-condition-selector__hierarchy {
	margin: 0;
	margin-top: 12px;
	padding: 0;
	width: 100%;
	max-width: 382px;
	border-right: 1px solid #c8d8e2;
}

.kit-filter-condition-selector__hierarchy-item {
	position: relative;
	padding: 7px 0 7px 30px;
	list-style: none;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;

	&::before {
		content: "";
		position: absolute;
		top: 10px;
		left: 14px;
		width: 6px;
		height: 10px;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23333' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
		background-repeat: no-repeat;
	}

	&_selected {
		background-color: #3875d7;
		color: #fff;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' class='kit-icon-svg' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
		}
	}

	&_filtration {
		span::before {
			top: 10px !important;
			height: 12px !important;
			width: 12px !important;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M11.965.68a.36.36 0 0 0-.328-.211H.363a.367.367 0 1 0-.281.598L4.418 6.32v4.848a.363.363 0 0 0 .523.324l2.434-1.207a.359.359 0 0 0 .203-.324l.004-3.64 4.336-5.255a.367.367 0 0 0 .047-.386zM6.938 5.957a.386.386 0 0 0-.083.23l-.003 3.547-1.707.848v-4.39a.388.388 0 0 0-.082-.235L1.136 1.195h9.726zm0 0'/%3E%3C/svg%3E") !important;
			background-repeat: no-repeat;
		}
	}
}

.kit-filter-condition-selector__hierarchy-selected-item {
	position: relative;
	padding: 7px 0 7px 45px;
	list-style: none;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;

	&::before {
		content: "";
		position: absolute;
		top: 15px;
		left: 16px;
		background-color: #e1eaf1;
		height: 2px;
		width: 9px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 16px;
		background-color: #e1eaf1;
		height: 100%;
		width: 2px;
	}

	&:last-child {
		&::after {
			height: calc(100% - 15px);
		}
	}

	span {
		&::before {
			content: "";
			position: absolute;
			top: 11px;
			left: 28px;
			width: 6px;
			height: 10px;
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23333' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
		}
	}

	.kit-filter-condition-selector__hierarchy-selected-item {
		padding-left: 30px;

		span::before {
			left: 18px;
		}

		&::before {
			left: 3px;
		}

		&::after {
			left: 3px;
		}
	}
}

.kit-filter-condition-selector__helper {
	background-color: #fafaf7;
	width: 602px;
}

.kit-filter-condition-selector__filter-block {
	padding: 0 10px;
	background-color: #e2eaf0;
	height: 80px;
	border-bottom: 1px solid #c8d8e2;
	font-size: 14px;

	.kit-input-field-wrap {
		margin-top: 1px;
	}
}

.kit-filter-condition-selector__filter-btn-block {
	margin-top: 7px;
	margin-left: 2px;
}

.kit-filter-condition-selector__filter-btn {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #8aacc2;
	text-decoration: none;

	&:not(:last-child) {
		margin-right: 14px;
	}

	&_active {
		color: #000;
	}
}

.kit-filter-condition-selector__help-caption-title {
	position: absolute;
	margin: 0;
	padding-top: 24px;
	padding-left: 24px;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
}

.kit-filter-condition-selector__editor-wrapper {
	padding: 24px;
	padding-top: 60px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-top-right-radius: 2px;
}

.kit-filter-condition-selector__help-wrapper-text {
	padding: 24px;
	padding-top: 60px;

	.kit-filter-condition-selector__editor-wrapper + & {
		padding-top: 24px;
	}
}
