// Colors
$borderColor: #c8d8e2;
$bracketColor: #e1eaf1;
$toggleCircleColor: #c5d6e1;
$itemNameColor: #333333;
$filterBlockColorBg: #f1f5f8;
$filterButtonColor: #265378;
$hoverItemColorBg: #3875d7;
$selectItemColorBg: #878787;
$searchFocusBorderColor: #5897fb;
$searchFocusBgColor: #fffde5;

.kit-filter-condition-selector {
	z-index: 20;
	display: flex;
	width: 982px;
	height: 600px;
	background-color: #ffffff;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;

	.kit-input-field_search {
		transition: border-color 0.15s ease-in-out,
			background-color 0.15s ease-in-out;

		&:hover,
		&:focus {
			background-color: $searchFocusBgColor;
			border-color: $searchFocusBorderColor;
		}
	}

	.kit-filter-details {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		overflow: hidden;
	}
}

.kit-filter-condition-selector__wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 378px;
	border: 1px solid $borderColor;
	border-right: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.kit-filter-condition-selector__hierarchy-name {
	z-index: 1;
	display: flex;
	align-items: center;
	flex-grow: 1;
	max-width: 100%;
	padding: 4px 10px 5px 8px;
	background-color: transparent;
	border: 0;
	outline: none;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: currentColor;
	text-align: left;
	cursor: pointer;

	> span {
		display: inline-block;
		max-width: calc(100% - 10px);
		height: 18px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.kit-filter-condition-selector__hierarchy-wrap {
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	scroll-snap-type: y proximity;
	scroll-padding: 50% 0;

	&_search {
		.kit-filter-condition-selector__hierarchy-simple-filter_filterablePropertyWithLinkedConditions
			> .kit-filter-condition-selector__hierarchy-button
			.kit-filter-condition-selector__hierarchy-name::before {
			content: "";
			position: absolute;
			left: 1px;
			display: block;
			width: 8px;
			height: 8px;
			background-color: $toggleCircleColor;
			border: 0;
			border-radius: 50%;
			box-sizing: border-box;
		}
	}
}

.kit-filter-condition-selector__hierarchy {
	width: 100%;
	min-width: 100%;
	height: 100%;
	margin: 0;
	padding: 8px 11px;
	box-sizing: border-box;
	list-style: none;
}

.kit-filter-condition-selector__hierarchy-button {
	position: relative;
	display: flex;
	align-items: center;
	color: $itemNameColor;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: -11px;
		z-index: 1;
		display: block;
		width: 1000vw;
		height: 100%;
		box-sizing: border-box;
		mix-blend-mode: multiply;
	}

	&:hover,
	&:focus,
	&_selected {
		color: #ffffff;
	}

	&:hover,
	&:focus {
		&::before {
			background-color: $hoverItemColorBg;
		}
	}

	&_selected {
		&::before {
			right: 1px;
			background-color: $selectItemColorBg;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: -11px;
			border-top: 13px solid transparent;
			border-left: 12px solid $selectItemColorBg;
			border-bottom: 14px solid transparent;
			box-sizing: border-box;
		}

		&:hover {
			&::before {
				background-color: $selectItemColorBg;
			}
		}
	}

	> .kit-filter-condition-selector__hierarchy-name {
		height: 100%;
	}
}

.kit-filter-condition-selector__hierarchy-simple-filter {
	&_filterablePropertyWithLinkedConditions,
	&_simpleFilterableProperty {
		> .kit-filter-condition-selector__hierarchy-button {
			.kit-filter-condition-selector__hierarchy-name {
				position: relative;
				padding-left: 15px;
				font-weight: normal;
			}
		}
	}

	&_filterablePropertyWithLinkedConditions {
		> .kit-filter-condition-selector__hierarchy-button {
			.kit-filter-condition-selector__hierarchy-name {
				&::before {
					content: "";
					position: absolute;
					left: 2px;
					display: block;
					background-color: transparent;
					border-top: 5px solid transparent;
					border-left: 6px solid $toggleCircleColor;
					border-bottom: 5px solid transparent;
				}
			}

			&_selected,
			&:hover {
				.kit-filter-condition-selector__hierarchy-name::before {
					border-left-color: #ffffff;
				}
			}
		}

		.kit-filter-condition-selector__hierarchy-simple-filte.kit-filter-condition-selector__hierarchy-item_expanded {
			> .kit-filter-condition-selector__hierarchy-button {
				.kit-filter-condition-selector__hierarchy-name::before {
					transform: rotate(90deg);
				}
			}
		}
	}

	&_simpleFilterableProperty {
		> .kit-filter-condition-selector__hierarchy-button {
			.kit-filter-condition-selector__hierarchy-name {
				&::before {
					content: "";
					position: absolute;
					left: 1px;
					display: block;
					width: 8px;
					height: 8px;
					background-color: $toggleCircleColor;
					border-radius: 50%;
					box-sizing: border-box;
				}
			}

			&_selected,
			&:hover {
				.kit-filter-condition-selector__hierarchy-name::before {
					background-color: #ffffff;
				}
			}
		}
	}
}

.kit-filter-condition-selector__hierarchy-item {
	&_selected {
		scroll-snap-align: center;
	}
}

.kit-filter-condition-selector__hierarchy-children {
	padding-left: 13px;
	box-sizing: border-box;
	list-style: none;

	.kit-filter-condition-selector__hierarchy-item {
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			color: $bracketColor;
		}

		&::before {
			top: 0;
			left: -11px;
			height: 100%;
			border-left: 2px solid;
		}

		&::after {
			top: 12px;
			left: -10px;
			width: 6px;
			border-bottom: 2px solid;
		}

		&:last-child {
			&::before {
				height: 14px;
			}
		}

		> .kit-filter-condition-selector__hierarchy-button {
			.kit-filter-condition-selector__arrow {
				margin-bottom: 0;
				margin-left: 2px;
			}
		}

		&_expanded {
			> .kit-filter-condition-selector__hierarchy-button {
				.kit-filter-condition-selector__arrow {
					margin-bottom: 2px;
					margin-left: 0;
				}
			}
		}

		> .kit-filter-condition-selector__hierarchy-children {
			.kit-filter-condition-selector__hierarchy-item {
				&::before {
					left: -9px;
				}

				&::after {
					left: -9px;
				}
			}
		}
	}
}

.kit-filter-condition-selector__filter-block {
	max-height: 71px;
	padding: 8px 10px;
	background-color: $filterBlockColorBg;
	border-bottom: 1px solid $borderColor;
	font-size: 14px;
}

.kit-filter-condition-selector__filter-btn-block {
	display: none;
	justify-content: space-between;
	align-items: center;
	margin-top: 6px;
	padding-top: 4px;
}

.kit-filter-condition-selector__filter-btn {
	display: inline-block;
	padding: 0;
	background-color: transparent;
	border: 0;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	color: $filterButtonColor;
	text-decoration: none;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 14px;
	}

	&:last-child {
		margin-left: auto;
	}

	&_active {
		font-weight: 600;
		color: #000000;
	}
}

.kit-filter-condition-selector__hierarchy-toggle {
	z-index: 1;
	width: 6px;
	margin-top: -3px;
	margin-left: 1px;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	box-sizing: border-box;
	color: inherit;
	cursor: pointer;

	.kit-filter-condition-selector__hierarchy-item_expanded
		> .kit-filter-condition-selector__hierarchy-button
		& {
		margin-top: -1px;
		transform: rotate(90deg);
	}
}

.kit-filter-condition-selector__high-light-text {
	background: #fcf9cf;
	color: #000000;
}
