.kit-filter-condition-selector {
	display: flex;
	width: 982px;
	height: 740px;
	background-color: #fff;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
	z-index: 20;
	overflow: hidden;
}

.kit-filter-condition-selector__wrap {
	max-width: 382px;
	width: 100%;
	border: 1px solid #c8d8e2;
	border-right: 0;
}

.kit-filter-condition-selector__hierarchy-wrap {
	height: 100%;
	overflow: auto;
}

.kit-filter-condition-selector__hierarchy {
	margin: 0;
	padding: 0;
	height: calc(100% - 70px);
	overflow: auto;
	min-width: 100%;
	width: fit-content;
	box-sizing: border-box;
}

.kit-filter-condition-selector__hierarchy-item {
	position: relative;
	padding: 0 0 0 20px;
	list-style: none;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	z-index: 9;
	min-width: 100%;
	width: fit-content;
	box-sizing: border-box;

	&:last-of-type {
		padding-bottom: 0;
	}

	&_selected {
		color: #fff;

		.kit-filter-condition-selector__hierarchy-name {
			&::after {
				content: "";
				position: absolute;
				width: 1000vw;
				height: 31px;
				background-color: #3875d7;
				top: 0;
				right: 0;
				z-index: -1;
			}

			.kit-filter-condition-selector__filter-span_selected {
				background-color: #3875d7;
			}
		}

		ul {
			.kit-filter-condition-selector__hierarchy-name {
				&::after {
					content: "";
					position: absolute;
					width: 1000vw;
					height: 31px;
					background-color: transparent;
					top: 0;
					right: 0;
					z-index: -1;
				}
			}
		}
	}

	.kit-filter-condition-selector__hierarchy-name {
		margin-left: 5px;
		display: inline-block;
		padding-bottom: 6px;
		background: none;
		border-radius: 0;
		border: none;
		appearance: none;
		font-size: 14px;
		font-weight: inherit;
		color: inherit;
		outline: none;
		margin: 0;
		padding: 0;
		height: 31px;
		line-height: 1;
		width: 100%;
		text-align: left;
		box-sizing: border-box;
		cursor: pointer;

		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover,
		&:focus {
			color: #fff;

			&::after {
				content: "";
				position: absolute;
				width: 1000vw;
				height: 31px;
				background-color: #3875d7;
				top: 0;
				right: 0;
				z-index: -1;
			}
		}
	}
}

.kit-filter-condition-selector__hierarchy-children {
	position: relative;
	padding-left: 0;
	list-style: none;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	min-width: 100%;
	width: fit-content;
	box-sizing: border-box;

	li {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -9px;
			background-color: #e1eaf1;
			height: 100%;
			width: 2px;
			transform: rotate(0) !important;
			z-index: 1;
		}
		&:first-child::before {
			content: "";
			position: absolute;
			top: 0;
			left: -9px;
			background-color: #e1eaf1;
			height: 100%;
			width: 2px;
			transform: rotate(0) !important;
			z-index: 1;
		}

		&:last-child::before {
			content: "";
			position: absolute;
			top: 0;
			left: -9px;
			background-color: #e1eaf1;
			height: 17px;
			width: 2px;
			transform: rotate(0) !important;
			z-index: 1;
		}

		&::after {
			content: "";
			position: absolute;
			top: 15px;
			left: -7px;
			background-color: #e1eaf1;
			height: 2px;
			width: 9px;
			z-index: 1;
		}
	}
}

.kit-filter-condition-selector__hierarchy-simple-filter {
	.kit-filter-condition-selector__hierarchy-name::before {
		content: "";
		top: 11px;
		left: 6px;
		background-image: none;
		background-color: #8aacc2;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		position: absolute;
		z-index: 1;
	}

	&::before {
		content: "";
		background-image: none;
	}
}

.kit-filter-condition-selector__hierarchy-name {
	.kit-filter-condition-selector__hierarchy-simple-filter & {
		font-weight: 400;
	}
}

.kit-filter-condition-selector__filter-block {
	padding: 8px 10px;
	background-color: #e2eaf0;
	font-size: 14px;
	max-height: 71px;
	height: 53px;
	border-bottom: 1px solid #c8d8e2;
}

.kit-filter-condition-selector__filter-btn-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 6px;
	margin-left: 2px;
	padding-top: 4px;
}

.kit-filter-condition-selector__filter-btn {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	color: #265378;
	text-decoration: none;
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 14px;
	}

	&:last-child {
		margin-left: auto;
	}

	&_active {
		color: #000;
		font-weight: 600;
	}
}

.kit-filter-condition-selector__filter-span {
	padding: 8px 0;
	height: 15px;
	display: inline-table;
	width: 100%;

	&:hover,
	&:focus {
		background-color: #3875d7;
	}
}

.kit-filter-condition-selector__hierarchy-toggle {
	cursor: pointer;
	appearance: none;
	box-sizing: border-box;
	border-radius: 0;
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 6px;
	height: 10px;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23333' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;

	.kit-filter-condition-selector__hierarchy-item_expanded > & {
		transform: rotate(90deg);
	}
}
