// Colors
$borderColor: #c8d8e2;
$bracketColor: #e1eaf1;
$toggleCircleColor: #c5d6e1;
$itemNameColor: #333333;
$filterBlockColorBg: #f1f5f8;
$filterButtonColor: #265378;
$hoverItemColorBg: #3875d7;
$selectItemColorBg: #878787;
$searchFocusBorderColor: #5897fb;
$searchFocusBgColor: #fffde5;

.kit-filter-condition-selector {
	display: flex;
	width: 982px;
	height: 740px;
	background-color: #fff;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
	z-index: 20;
	overflow: hidden;

	.kit-input-field_search {
		transition: border-color 0.15s ease-in-out,
			background-color 0.15s ease-in-out;

		&:hover,
		&:focus {
			border-color: $searchFocusBorderColor;
			background-color: $searchFocusBgColor;
		}
	}
}

.kit-filter-condition-selector__wrap {
	max-width: 378px;
	width: 100%;
	border: 1px solid $borderColor;
	border-right: 0;
}

.kit-filter-condition-selector__hierarchy-wrap {
	height: 100%;
	overflow: auto;
}

.kit-filter-condition-selector__hierarchy {
	max-width: 300px;
	margin: 0;
	padding: 8px 11px;
	height: calc(100% - 70px);
	overflow: auto;
	min-width: 100%;
	width: fit-content;
	list-style: none;
	box-sizing: border-box;
}

.kit-filter-condition-selector__hierarchy-button {
	position: relative;
	display: flex;
	align-items: center;
	min-width: 341px;
	cursor: pointer;
	color: $itemNameColor;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: -11px;
		display: block;
		height: 100%;
		width: 1000vw;
		mix-blend-mode: multiply;
		z-index: 1;
		box-sizing: border-box;
	}

	&:hover,
	&:focus,
	&_selected {
		color: #fff;
	}

	&:hover,
	&:focus {
		&::before {
			background-color: $hoverItemColorBg;
		}
	}

	&_selected {
		&::before {
			right: 1px;
			background-color: $selectItemColorBg;
		}

		&::after {
			content: "";
			position: absolute;
			right: -11px;
			top: 0;
			border-top: 13px solid transparent;
			border-left: 12px solid $selectItemColorBg;
			border-bottom: 14px solid transparent;
			box-sizing: border-box;
		}

		&:hover {
			&::before {
				background-color: $selectItemColorBg;
			}
		}
	}

	> .kit-filter-condition-selector__hierarchy-name {
		height: 100%;
	}
}

.kit-filter-condition-selector__hierarchy-name {
	flex-grow: 1;
	padding: 4px 10px 5px 8px;
	border: 0;
	background-color: transparent;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: currentColor;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none;
	cursor: pointer;
	z-index: 1;

	> span {
		display: inline-block;
		height: 18px;
	}
}

.kit-filter-condition-selector__hierarchy-simple-filter {
	&_simpleFilterableProperty {
		> .kit-filter-condition-selector__hierarchy-button {
			.kit-filter-condition-selector__hierarchy-name {
				padding-left: 15px;
				font-weight: normal;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					top: calc(50% - 6px);
					left: 0;
					display: block;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: $toggleCircleColor;
					box-sizing: border-box;
				}
			}

			&_selected,
			&:hover {
				.kit-filter-condition-selector__hierarchy-name {
					&::before {
						background-color: #fff;
					}
				}
			}
		}
	}
}

.kit-filter-condition-selector__hierarchy-children {
	padding-left: 15px;
	list-style: none;
	box-sizing: border-box;

	.kit-filter-condition-selector__hierarchy-item {
		position: relative;

		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			color: $bracketColor;
		}

		&::before {
			top: 0;
			left: -13px;
			border-left: 2px solid;
			height: 100%;
		}

		&::after {
			left: -12px;
			top: 11px;
			width: 6px;
			border-bottom: 2px solid;
		}

		&:last-child {
			&::before {
				height: 13px;
			}
		}
	}
}

.kit-filter-condition-selector__filter-block {
	padding: 8px 10px;
	background-color: $filterBlockColorBg;
	font-size: 14px;
	max-height: 71px;
	border-bottom: 1px solid $borderColor;
}

.kit-filter-condition-selector__filter-btn-block {
	display: none;
	align-items: center;
	justify-content: space-between;
	margin-top: 6px;
	padding-top: 4px;
}

.kit-filter-condition-selector__filter-btn {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	color: $filterButtonColor;
	text-decoration: none;
	border: 0;
	background-color: transparent;
	padding: 0;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 14px;
	}

	&:last-child {
		margin-left: auto;
	}

	&_active {
		color: #000;
		font-weight: 600;
	}
}

.kit-filter-condition-selector__hierarchy-toggle {
	padding: 0;
	width: 6px;
	margin-top: -3px;
	border: none;
	background-color: transparent;
	color: inherit;
	outline: none;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1;

	.kit-filter-condition-selector__hierarchy-item_expanded
		> .kit-filter-condition-selector__hierarchy-button
		& {
		transform: rotate(90deg);
		margin-top: -1px;
		margin-left: 1px;
	}
}

.kit-filter-condition-selector__high-light-text {
	background: #fcf9cf;
	color: #000;
}
