.kit-filter-condition-selector {
	position: absolute;
	top: 20px;
	left: 0;
	display: flex;
	width: 982px;
	height: 740px;
	background-color: #fff;
	border: 1px solid #c8d8e2;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
	z-index: 20;
	overflow: hidden;
}

.kit-filter-condition-selector__hierarchy {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 382px;
	border-right: 1px solid #c8d8e2;
	overflow: scroll;
}

.kit-filter-condition-selector__hierarchy-item {
	//position: relative;
	//margin: 5px 0;
	//list-style: none;
	//color: #333333;
	//font-size: 14px;
	//font-weight: 600;
	//line-height: 18px;
	//padding: 1px 0 1px 20px;

	position: relative;
	padding: 7px 0 0 20px;

	list-style: none;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;

	&:last-of-type {
		padding-bottom: 0;
	}

	.kit-filter-condition-selector__hierarchy-name {
		margin-left: 5px;
		display: inline-block;
		padding-bottom: 6px;

		&::before {
			content: "";
			position: absolute;
			top: 10px;
			left: 10px;
			width: 6px;
			height: 10px;
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23333' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
		}

		&_expanded {
			&::before {
				transform: rotate(90deg);
				background-repeat: no-repeat;
			}
		}
	}

	&_selected {
		background-color: #3875d7;
		color: #fff;

		.kit-filter-condition-selector__hierarchy-name_expanded {
			color: #fff;

			&::before {
				background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' class='kit-icon-svg' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23fff' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
				background-repeat: no-repeat;
			}
		}
	}
}

.kit-filter-condition-selector__hierarchy-children {
	position: relative;
	padding-left: 0;
	list-style: none;
	color: #333333;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;

	li {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -9px;
			background-color: #e1eaf1;
			height: 100%;
			width: 2px;
			transform: rotate(0) !important;
		}
		&:first-child::before {
			content: "";
			position: absolute;
			top: 0;
			left: -9px;
			background-color: #e1eaf1;
			height: 100%;
			width: 2px;
			transform: rotate(0) !important;
		}

		&:last-child::before {
			content: "";
			position: absolute;
			top: 0;
			left: -9px;
			background-color: #e1eaf1;
			height: 17px;
			width: 2px;
			transform: rotate(0) !important;
		}

		&::after {
			content: "";
			position: absolute;
			top: 15px;
			left: -7px;
			background-color: #e1eaf1;
			height: 2px;
			width: 9px;
		}
	}
}

.kit-filter-condition-selector__hierarchy-simple-filter {
	.kit-filter-condition-selector__hierarchy-name::before {
		top: 11px;
		left: 6px;
		background-image: none;
		background-color: #8aacc2;
		border-radius: 50%;
		width: 10px;
		height: 10px;
	}

	&::before {
		background-image: none;
	}
}

.kit-filter-condition-selector__hierarchy-name {
	.kit-filter-condition-selector__hierarchy-simple-filter & {
		font-weight: 400;
	}
}

.kit-filter-condition-selector__helper {
	background-color: #fff;
	width: 602px;
}

.kit-filter-condition-selector__filter-block {
	padding: 0 10px;
	background-color: #e2eaf0;
	height: 80px;
	border-bottom: 1px solid #c8d8e2;
	font-size: 14px;

	.kit-input-field-wrap {
		margin-top: 1px;
	}
}

.kit-filter-condition-selector__filter-btn-block {
	margin-top: 7px;
	margin-left: 2px;
}

.kit-filter-condition-selector__filter-btn {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #8aacc2;
	text-decoration: none;

	&:not(:last-child) {
		margin-right: 14px;
	}

	&_active {
		color: #000;
	}
}

.kit-filter-condition-selector__help-caption-title {
	margin: 0;
	padding-top: 32px;
	padding-left: 26px;
	padding-bottom: 15px;
	font-size: 21px;
	line-height: 23px;
	font-weight: 400;
	border-bottom: 1px solid #c8d8e2;
	letter-spacing: 0.5px;
	background-color: #fafaf7;
}

.kit-filter-condition-selector__editor-wrapper {
	padding: 24px;
	padding-top: 25px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-top-right-radius: 2px;
}

.kit-filter-condition-selector__help-wrapper-text {
	padding: 24px;
	padding-top: 25px;

	.kit-filter-condition-selector__editor-wrapper + & {
		padding-top: 24px;
	}
}
