// Colors
$textColor: #333333;
$buttonColorBg: #e2eaf0;
$hoverItemColorBg: #3875d7;
$borderListColor: #cad9e4;
$boxShadowListColor: rgba(0, 0, 0, 0.3);

.kit-filter-actions {
	display: inline-flex;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;

	> * {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
}

.kit-filter-actions__popover {
	position: relative;
}

.kit-filter-actions__title {
	&::after {
		margin-left: 5px;
		border-top: 4px solid;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		content: '';
		display: inline-block;
	}
}
.kit-filter-actions__list_hide {
	display: none;
}

.kit-filter-actions__list {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 18;
	width: 180px;
	margin: 10px 0 0;
	padding: 5px 0 0;
	background-color: #ffffff;
	border: solid 1px $borderListColor;
	border-radius: 3px;
	box-shadow: 0 0 6px 0 $boxShadowListColor;
	box-sizing: border-box;
	list-style: none;
	font-family: 'PTSans', sans-serif;
	transform: translateX(-50%);

	&::before,
	&::after {
		position: absolute;
		bottom: 100%;
		left: 50%;
		content: '';
	}

	&::before {
		z-index: 2;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid;
		color: #ffffff;
	}

	&::after {
		z-index: 1;
		margin-left: -2px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid;
		color: $borderListColor;
	}
}

.kit-filter-actions__list-item {
	align-items: center;
	min-height: 31px;
	padding-right: 16px;
	padding-left: 16px;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 1.23;
	color: #000000;
	cursor: pointer;
	display: flex;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

	&:hover {
		background-color: $hoverItemColorBg;
		color: #ffffff;
	}
}
