.kit-filter-panel {
	box-sizing: border-box;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	height: 44px;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
}

.kit-filter-panel__btn-wrap {
	display: flex;
	align-items: center;
}

.kit-filter-panel__btn-second {
	border-radius: 0 4px 4px 0;
	min-width: 70px;
	border-left: 0;
}

.kit-filter-panel__text {
	margin: 0;
	margin-left: 20px;
	color: #a4a4a4;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.4px;
	line-height: 19px;
}

.kit-filter-panel__info-wrap {
	display: flex;
	align-items: center;
}

.kit-filter-panel__info {
	font-size: 14px;
}

.kit-filter-panel__clients {
	margin-left: 5px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	letter-spacing: -0.4px;
	color: #333333;
}
