.kit-filter-panel {
	box-sizing: border-box;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	height: 44px;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
}

.kit-filter-panel__btn-wrap {
	display: flex;
	align-items: center;
}

.kit-filter-panel__btn {
	position: relative;
	padding: 3px 0;
	border-radius: 4px 0 0 4px;
	min-width: 160px;
	color: #265378;
	text-align: center;
	border: 1px solid #c7d8e2;
	background-color: #f1f5f8;
	font-size: 13px;
	line-height: 18px;

	&_small {
		border-radius: 0 4px 4px 0;
		min-width: 70px;
		border-left: 0;
	}
}

.kit-filter-panel__text {
	margin: 0;
	margin-left: 20px;
	color: #a4a4a4;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-style: italic;
	letter-spacing: -0.4px;
	line-height: 19px;
}

.kit-filter-panel__info-wrap {
	display: flex;
	align-items: center;
}

.kit-filter-panel__info {
	//margin-right: 35px;
	font-size: 14px;
}

.kit-filter-panel__clients {
	margin-left: 5px;

	//font-family: "PT Sans", sans-serif;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	letter-spacing: -0.4px;
	color: #333333;
}
