.help {
    position: relative;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;

    &__icon {
        position: relative;
        z-index: 9;
        opacity: 0.5;
    }

    &__inner {
        position: absolute;
        z-index: 8;
        top: -8px;
        left: 30px;
        box-sizing: border-box;
        padding: 8px 14px 8px;
        width: 548px;
        color: #000;
        min-height: 33px;
        visibility: hidden;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: #fffcf0;
        opacity: 0;
        transition: opacity 0.3s ease-out;

        &::before {
            position: absolute;
            z-index: 1;
            top: 0;
            left: -37px;
            content: "";
            width: 37px;
            height: 33px;
            background-color: #fffcf0;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        }

        &::after {
            position: absolute;
            z-index: 2;
            top: 0;
            left: -2px;
            content: "";
            width: 5px;
            height: 33px;
            background-color: #fffcf0;
        }
    }

    &:hover &__inner {
        visibility: visible;
        opacity: 1;
    }
}
