.kit-checkbox {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    color: #000000;
    cursor: pointer;

    &__input {
        width: 16px;
        height: 16px;
    }

    &__text {
        margin-left: 5px;
    }
}