.section-wrapper {
    font-family: "PT Sans", sans-serif;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;

    &_isActive {
        border-color: #a0ba82;
        border-width: 2px;
    }

    &_isEdit {
        border-color: #a0ba82;
        border-width: 2px;
        background-color: #fffaed;
    }

    &__button-edit {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__title {
        margin: 0;
        display: inline-block;
        border-bottom: 1px dashed;
        font-size: 18px;
        font-weight: normal;
        line-height: 1;

        &_isActive {
            position: relative;
            color: #417505;

            &::before {
                content: '';
                position: absolute;
                top: -3px;
                left: -24px;
                width: 18px;
                height: 16px;
                background-image: url(../../base/icons/icons.png);
                background-size: 400px;
                background-position: -360px -160px;

                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    background-image: url(../../base/icons/icons@2x.png);
                }
            }
        }
    }
}