$kit-select-multi-border-radius: 3px;

.kit-select-multi {
	position: relative;
	z-index: 1;
	display: block;
	min-width: 108px;
	background-color: #ffffff;
	border-radius: $kit-select-multi-border-radius;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	white-space: nowrap;

	& * {
		box-sizing: border-box;
	}

	&_show_dropdown {
		z-index: 2;
	}
}

.kit-select-multi__label {
	width: 100%;
	min-height: 29px;
	margin: 0;
	padding: 4px 30px 4px 10px;
	background-color: #ffffff;
	border: 1px solid #c5d6e1;
	border-radius: $kit-select-multi-border-radius;
	outline: none;
	text-align: left;
	cursor: pointer;
	appearance: none;

	.kit-select-multi_show_dropdown & {
		border-color: transparent;
	}
}

.kit-select-multi__label-title {
	overflow: hidden;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;
	color: #000000;
	text-overflow: ellipsis;

	&::after {
		content: "";
		position: absolute;
		top: 13px;
		right: 14px;
		border: 3px solid transparent;
		border-top: 4px solid #323232;
		transition: transform 0.3s ease-out;
		transform-origin: 50% 2px;

		.kit-select-multi_show_dropdown & {
			transform: rotate(180deg);
		}
	}
}

.kit-select-multi__dropdown-list {
	margin: 0;
	padding: 0;
	background: #ffffff;
	list-style: none;
	pointer-events: auto;
}

.kit-select-multi__dropdown-option {
	&_checked {
		background-color: #3875d7;
		color: #ffffff;
	}

	&_disabled {
		opacity: 0.25;
	}
}

.kit-select-multi__dropdown-option-label {
	display: block;
	padding: 4px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;

	.kit-select-multi__dropdown-option_disabled & {
		cursor: default;
	}
}

.kit-select-multi__dropdown-option-input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	pointer-events: none;
	transform: translate(1px, 1px);
	clip-path: inset(100%);
}

.kit-select-multi__dropdown-list-wrap {
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 28px;
	border: 1px solid #8aacc2;
	border-radius: 3px;
	box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.12);
	overflow: hidden;
	pointer-events: none;
}
