// Colors
$buttonTextColor: #255277;
$contentBorderColor: #dddddc;
$contentBgColor: #fafaf7;

.kit-popover__content {
	max-width: 550px;
	max-height: 229px;
	width: fit-content;
	padding: 5px 12px;
	border-radius: 3px;
	border: solid 1px $contentBorderColor;
	background-color: $contentBgColor;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;

	.kit-filtration-condition__item-text .kit-filtration-condition__content {
		flex-wrap: nowrap;
		white-space: nowrap;
	}
}

.kit-popover__button {
	padding: 0;
	margin: 8px 0 0;
	border: 0;
	background-color: transparent;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	color: $buttonTextColor;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
}
