.grid__row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
	box-sizing: border-box;

	&_align-top {
		align-items: flex-start;
	}

	&_align-center {
		align-items: center;
	}

	&_align-end {
		align-items: flex-end;
	}
}
