.kit-detalization-total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #d4d4d4;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: #333333;
}