.kit-tag {
    display: inline-flex;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 4px;
    background-color: #417505;
    border-radius: 3px;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    color: #ffffff;

    &_develop {
        background-color: #ae00d2;
    }

    &__date {
        border-bottom: 1px dashed #ffffff;
    }

    &__text {
        position: relative;
        margin-right: 30px;

        &::after {
            position: absolute;
            top: 50%;
            right: -15px;
            width: 2px;
            height: 2px;
            background-color: #ffffff;
            border-radius: 50%;
            content: "";
        }
    }
}