.kit-confirmation {
	margin: 0 auto;
	padding: 9px 20px 16px;
	width: 84%;
	background-color: #FFFAED;
    font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.36);
	border-radius: 4px;

	a {
		margin-left: 3px;
		margin-right: 3px;
		font-family: "PT Sans", sans-serif;
		font-size: 14px;
		line-height: 18px;
		color: #265378;
		text-decoration: none;
	}
}

.kit-confirmation__text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	text-align: center;

	.kit-button {
		margin-left: 15px;
	}
}
