@import "../variables";

.kit-dropdown {
	position: relative;
	font-family: "PT Sans", sans-serif;
	box-sizing: border-box;
	margin: 0 15px;

	@media (max-width: $mobile-large) {
		width: 100%;
		margin: 0 0 15px;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-weight: bold;
		min-width: 130px;
		height: 28px;
		border-radius: 3px;
		border: 1px solid #8aacc2;
		background-color: #e2eaf0;
		color: #000;
		cursor: pointer;
		outline: none;

		@media (max-width: $mobile-large) {
			justify-content: center;
			width: 100%;
		}

		&:hover:not(:disabled) {
			background-color: darken($color: #e2eaf0, $amount: 8%);
			border-color: darken($color: #8aacc2, $amount: 8%);
		}

		&_open {
			background-color: darken($color: #f2f2f2, $amount: 8%);
			border-color: darken($color: #d4d4d4, $amount: 8%);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			&:hover:not(:disabled) {
				background-color: darken($color: #f2f2f2, $amount: 9%);
				border-color: darken($color: #d4d4d4, $amount: 9%);
			}
		}

		&_no-border {
			min-width: 120px;
			justify-content: normal;
			border: 1px solid #e2eaf0;

			.kit-dropdown__btn-text {
				font-weight: 400;
			}
		}
	}

	&__icon {
		transition: transform 0.2s ease;

		&_open {
			transform: rotate(180deg);
		}

		&_svg {
			margin-left: 16px;
		}
	}

	&__list {
		position: absolute;
		top: 27px;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 130px;
		max-height: 483px;
		padding: 0;
		margin: 0;
		background-color: #f2f2f2;
		border: 1px solid darken($color: #d4d4d4, $amount: 8%);
		list-style: none;
		opacity: 0;
		pointer-events: none;
		box-sizing: border-box;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		overflow: hidden;
		overflow-y: auto;
		z-index: 10;

		@media (max-width: $mobile-large) {
			width: 100%;
		}

		&_open {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__list-item {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid #d4d4d4;

		&:last-child {
			border-bottom: none;
		}
	}

	&__year {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 13px;
		line-height: 1;
		padding: 12px 14px;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	&__year-value {
		font-weight: bold;
	}

	&__month {
		display: none;
		flex-direction: column;
		padding: 0;
		margin: 0;
		list-style: none;
		box-sizing: border-box;

		&_open {
			display: flex;
		}
	}

	&__month-item {
		font-size: 13px;
		line-height: 1;
		color: #000000;
		padding: 12px 14px;
		cursor: pointer;

		&:hover {
			background-color: #ffffff;
		}

		&_active {
			background-color: #ffffff;
		}
	}

	&__svg {
		margin-right: 5px;
	}
}
