@import '../variables';

.kit-dropdown {
  position: relative;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  margin-right: 15px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #8aacc2;
    background-color: #e2eaf0;
    color: #000;
    cursor: pointer;
    outline: none;

    &:hover:not(:disabled) {
      background-color: darken($color: #e2eaf0, $amount: 8%);
      border-color: darken($color: #8aacc2, $amount: 8%);
    }

    &_open {
      background-color: darken($color: #f2f2f2, $amount: 8%);
      border-color: darken($color: #d4d4d4, $amount: 8%);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:hover:not(:disabled) {
        background-color: darken($color: #f2f2f2, $amount: 9%);
        border-color: darken($color: #d4d4d4, $amount: 9%);
      }
    }
  }

  &__icon {
    transition: transform .2s ease;

    &_open {
      transform: rotate(180deg);
    }
  }

  &__list {
    position: absolute;
    top: 27px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    border: 1px solid darken($color: #d4d4d4, $amount: 8%);
    list-style: none;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &_open {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d4d4d4;

    &:last-child {
      border-bottom: none;
    }
  }

  &__year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 1;
    padding: 12px 14px;
    cursor: pointer;
  }

  &__year-value {
    font-weight: bold;
  }

  &__month {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;

    &_open {
      display: flex;
    }
  }

  &__month-item {
    font-size: 13px;
    line-height: 1;
    color: #000000;
    padding: 12px 14px;

    &_active {
      background-color: #ffffff;
    }
  }

}
