.kit-tooltip {
	$self: &;
	position: relative;
	display: inline-flex;
	align-items: center;
}

.kit-tooltip__title {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: default;

	&_pointer {
		cursor: pointer;
	}
}

.kit-tooltip__popup {
	margin-left: 5px;
}

.kit-tooltip__arrow {
	position: absolute;
	left: 3px;
	z-index: 11;

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 0;
		height: 0;
		border: solid transparent;
		pointer-events: none;
	}

	&::before {
		margin: 0 -10px;
		border-width: 10px;
		border-bottom-color: #c7c5bd;
	}

	&::after {
		margin: 0 -8px;
		border-width: 8px;
		border-bottom-color: #ffffff;
	}

	&_bottom {
		top: 16px;
	}

	&_top {
		bottom: 31px;
		transform: rotate(180deg);
	}
}

.kit-tooltip__content {
	position: absolute;
	left: -60px;
	z-index: 10;
	display: block;
	min-width: 156px;
	padding: 13px 24px 13px 15px;
	background-color: #ffffff;
	border: 1px solid #c7c5bd;
	border-radius: 4px;
	box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.35);
	visibility: hidden;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	color: #000000;

	&_bottom {
		top: 15px;
	}

	&_top {
		bottom: 30px;
	}

	&_show {
		visibility: visible;
	}
}

.kit-tooltip__road {
	position: absolute;
	right: 0;
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 15px;

	&_top {
		bottom: 100%;
	}

	&_bottom {
		top: 100%;
	}
}

.kit-tooltip__close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	padding: 0;
	background-color: transparent;
	border: 0;
	outline: none;
	color: #707070;
	cursor: pointer;

	&:hover {
		color: #333333;
	}
}

.kit-tooltip__close-icon {
	width: 10px;
	height: 10px;
}
