.kit-tooltip {
	$self: &;
	position: relative;
	display: inline-flex;
	align-items: center;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.kit-tooltip__title {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: default;
}

.kit-tooltip__popup {
	margin-left: 5px;
}

.kit-tooltip__content {
	display: block;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	color: #000;
	font-family: "PT Sans", sans-serif;
	transform: translateX(-60px);
	background-color: #ffffff;
	padding: 13px 24px 13px 15px;
	border: 1px solid #c7c5bd;
	border-radius: 4px;
	min-width: 240px;
	box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.35);
	visibility: hidden;

	&::before,
	&::after {
		position: absolute;
		pointer-events: none;
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		bottom: 100%;
		left: 60px;
	}

	&::before {
		border-width: 9px;
		margin: 0 -9px;
	}

	&::after {
		border-width: 7px;
		margin: 0 -7px;
	}

	&_bottom {
		top: 15px;

		&::before,
		&::after {
			bottom: 100%;
		}

		&::before {
			border-bottom-color: #c7c5bd;
		}

		&::after {
			border-bottom-color: #fff;
		}
	}

	&_top {
		bottom: 30px;

		&::before,
		&::after {
			top: 100%;
		}

		&::before {
			border-top-color: #c7c5bd;
		}

		&::after {
			border-top-color: #fff;
		}
	}

	&_show {
		visibility: visible;
	}
}

.kit-tooltip__road {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	right: 0;

	&_top {
		bottom: 100%;
	}

	&_bottom {
		top: 100%;
	}
}
