@mixin visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	white-space: nowrap;
	transform: translate(1px, 1px);
}

.kit-promotion-group-edit {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #333;

	legend {
		margin-left: -3px;
		margin-bottom: 7px;
	}
}

.kit-promotion-group-edit__title {
	width: 100%;
	max-width: 446px;
	margin: 0;
	padding: 0;
	border: none;

	legend {
		@include visually-hidden();
	}
}

.kit-promotion-group-edit__parent-group {
	width: 100%;
	max-width: 446px;
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	border: none;
}

.kit-promotion-group-edit__rules {
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
	border: none;

	&:first-child {
		width: 100%;
		max-width: 446px;
		display: inline-block;
		margin-right: 10px;
	}

	&:last-child {
		width: 100%;
		max-width: 267px;
		display: inline-block;
	}
}

.kit-promotion-group-edit__rule-1 {
	width: 100%;
	max-width: 446px;
	display: inline-block;
	margin-right: 10px;
}

.kit-promotion-group-edit__rule-2 {
	width: 100%;
	max-width: 267px;
	display: inline-block;
}

.kit-promotion-group-edit__rule-desc {
	font-size: 14px;
	margin: 0;
	padding: 11px 0 10px;
	width: 100%;
	max-width: 670px;
	letter-spacing: -0.05px;
}

.kit-promotion-group-edit__max-discount {
	margin: 0;
	margin-left: -3px;
	padding: 0;
	border: none;
	font-size: 14px;

	legend {
		@include visually-hidden();
	}
}

.kit-promotion-group-edit__max-discount-inner {
	display: flex;
	align-items: center;
}

.kit-promotion-group-edit__max-discount-input {
	width: 40px;
	margin-left: 6px;
	margin-right: 9px;
}

.kit-promotion-group-edit__submit {
	margin: 0;
	padding: 0;
	border: none;
}

.kit-promotion-group-edit__submit-inner {
	display: flex;
	align-items: center;
}

.kit-promotion-group-edit__submit-btn {
	margin-right: 10px;
}
