.kit-input-search {
	box-sizing: border-box;
	position: relative;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	height: 29px;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #b0b2b5;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}

.kit-input-search__icon {
	position: absolute;
	top: 3px;
	right: 7px;
}

.kit-input-search__input {
	box-sizing: border-box;
	padding: 4px 30px 4px 0;
	width: 100%;
	outline: none;
	border: 0;
	background-color: transparent;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;

	&::placeholder {
		font-size: 14px;
		line-height: 19px;
		color: #999;
	}
}
