.kit-detalization-info {
	width: 100%;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
}

.kit-detalization-info__row {
	display: flex;

	&:not(:last-child) {
		margin-bottom: 4px;
	}
}

.kit-detalization-info__value {
	margin-left: 4px;
	font-weight: 900;
}

.kit-detalization-info__help {
	margin-left: 6px;
}

.kit-detalization-info__row-button {
	margin-top: 9px;

	button {
		width: 100%;
	}
}
