.kit-detalization-info {
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    box-sizing: border-box;

    &__row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    &__value {
        margin-left: 4px;
        font-weight: 900;
    }

    &__help {
        margin-left: 6px;
    }

    &__button {
        width: 100%;
        margin-top: 9px;
    }
}