.kit-date-label__text {
	&_with-point {
		display: inline-flex;
		align-items: center;

		&::after {
			content: "\2022";
			font-size: 0.5em;
			padding: 0 1em;
		}
	}
}

.kit-date-label__date {
	border-bottom: 1px dashed;
}
