.kit-breadcrumb {
  position: relative;
  margin-left: 28px;
  padding: 9px 14px 8px;
  border: 0;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 19px;
  color: #265378;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -17px;
    background-image: url(../assets/icons/arrow.svg);
    background-size: auto;
    background-repeat: no-repeat;
    width: 8px;
    height: 11px;
  }

  &:last-child {

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      right: -20px;
      background-size: auto;
      background-repeat: no-repeat;
      width: 8px;
      height: 11px;
      background-image: url(../assets/icons/arrow.svg);
      transform: rotate(90deg);
    }
  }
}
