.kit-detalization-calculation {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;

    &__item {
        list-style: none;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}