.kit-filter-details {
	background-color: #fff;
	width: 602px;
	border: 1px solid #c8d8e2;
	font-family: "PT Sans", sans-serif;
	color: #000;
	box-sizing: border-box;

	cursor: default;

	&_editor {
		margin-left: -5px;
		z-index: 1;
	}

	&_menu {
		.kit-filter-details__helper_extended {
			max-height: 423px;
		}
	}
}

.kit-filter-details__title {
	display: flex;
	align-items: center;
	height: 46px;
	margin: 0;
	padding-left: 26px;
	font-size: 21px;
	line-height: 23px;
	font-weight: 400;
	border-bottom: 1px solid #c8d8e2;
	letter-spacing: 0.5px;
	background-color: #fafaf7;
	box-sizing: border-box;
}

.kit-filter-details__editor-wrapper {
	padding: 15px 25px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-top-right-radius: 2px;
	box-sizing: border-box;
}

.kit-filter-details__help-wrapper-text {
	position: relative;
	padding: 24px 24px 0;
	box-sizing: border-box;
}

.kit-filter-details__helper {
	max-height: 74px;
	overflow: hidden;
	transition: max-height 0.15s ease-in-out;

	&_extended {
		height: 100%;
		max-height: 300px;
		animation: extended 0.15s ease 0.15s forwards;
	}
}

.kit-filter-details__show-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 47px;
	width: 100%;
	background: none;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;

	&::before {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 0;
		display: block;
		width: 100%;
		height: calc(100% - 10px);
		background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0),
			#ffffff
		);
	}

	&_extended {
		transform: rotate(180deg);

		&::before {
			display: none;
		}
	}

	&_no-extended {
		visibility: hidden;
	}
}

.kit-filter-details__close {
	position: absolute;
	top: 12px;
	right: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	background: none;
	border: none;
	color: #707070;
	transition: color 0.15s ease-in-out;
	cursor: pointer;
	outline: none;
}

@keyframes extended {
	from {
		overflow: hidden;
	}
	to {
		overflow: auto;
	}
}
