.kit-filter-details {
	background-color: #fff;
	width: 602px;
	border: 1px solid #c8d8e2;
	font-family: "PT Sans", sans-serif;
	height: 738px;
	overflow: auto;
	color: #000;

	&_editor {
		position: absolute;
		height: 331px;
		left: 0;
		margin-left: -5px;
		z-index: 1;
	}
}

.kit-filter-details__title {
	margin: 0;
	padding-top: 32px;
	padding-left: 26px;
	padding-bottom: 14px;
	font-size: 21px;
	line-height: 23px;
	font-weight: 400;
	border-bottom: 1px solid #c8d8e2;
	letter-spacing: 0.5px;
	background-color: #fafaf7;
}

.kit-filter-details__editor-wrapper {
	padding: 24px;
	padding-top: 25px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	border-top-right-radius: 2px;
}

.kit-filter-details__help-wrapper-text {
	position: relative;
	padding: 24px;
	padding-top: 25px;
	height: 74px;
	overflow: hidden;

	.kit-filter-details__editor-wrapper + & {
		padding-top: 24px;
		overflow: hidden;
	}
}

.kit-filter-details__gradient-hide {
	position: absolute;
	width: 100%;
	height: 44px;
	bottom: 0;
	left: 0;
	//background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
	cursor: pointer;

	&_none {
		display: none;
		overflow: auto;

		.kit-filter-details__show-btn {
			display: none;
		}
	}
}

.kit-filter-details_editor + .kit-filter-details__gradient-hide {
	background-color: #69709e;
}

.kit-filter-details__show-btn {
	position: absolute;
	top: 21px;
	left: 50%;
	display: flex;

	justify-content: center;
	align-items: center;
	height: 52px;
	width: 100%;
	transform: translateX(-50%);
	//color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 0;
	background-color: #fff;

	img {
		display: inline-block;
		position: absolute;
		top: 15px;
		width: 15px;
		height: 15px;
	}

	&::before {
		content: "";
		top: -27px;
		left: 0;
		position: absolute;
		background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0),
			#ffffff
		);
		width: 100%;
		height: 30px;
	}
}
