.kit-icon {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../assets/icons/icons.png);
    background-size: 400px;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(../assets/icons/icons@2x.png);
    }

    &_help {
        background-position: -120px 0;
    }

    &_play {
        background-position: -120px -80px;
    }

    &_pause {
        background-position: -201px -80px;
    }

    &_search {
        background-position: -240px -160px;
    }

    &_calendar {
        background-position: -200px -319px;
    }

    &_remove {
        background-position: -240px -160px;
    }

    &_edit {
        background-position: -80px -160px;
        opacity: 0.25;
    }
}