@import "../sass/main";

.kit-filtration-condition {
	position: relative;
	list-style: none;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;

	&_with-alert {
		font-weight: 700;
		color: $removeColor;
	}

	.kit-filter-details {
		top: calc(100% - 5px);
		left: 0;
	}
}

.kit-filtration-condition__item-text {
	position: relative;
	display: inline-flex;
	margin-right: 5px;
	padding: 3px 0 3px 0;
	transition: color 0.15s ease-in-out;

	&:hover:not(&_read-only) {
		>.kit-filtration-condition__content {
			background-color: $hoverColorBg;
			cursor: pointer;
		}

		>.kit-filtration-condition__copy,
		>.kit-filtration-condition__remove,
		>.kit-filtration-condition__more {
			visibility: visible;
		}

		>.kit-filtration-condition__drag-and-drop {
			display: flex;
		}

		.kit-filtration-group_edit & {

			>.kit-filtration-condition__content,
			>.kit-filtration-condition__drag-and-drop,
			>.kit-filtration-condition__copy {
				background-color: #ffffff;
			}
		}
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: calc(100% + #{$groupHoverMarginRightWithButton});
		height: calc(100% + #{$groupHoverMarginTop});
		min-height: 26px;
		margin: #{-$groupHoverMarginTop} 0 0 #{-$groupHoverMarginLeft};
		background-color: $hoverColorBg;
		border-radius: $itemHoverBorderRadius 0 0 $itemHoverBorderRadius;
		box-sizing: border-box;
		cursor: pointer;
	}

	.kit-filtration-condition__content {
		min-height: 26px;

		>* {
			vertical-align: sub;
		}
	}

	.kit-filtration-condition__content>span,
	b {
		position: relative;
		margin-right: 5px;
	}

	.kit-filtration-condition__content>span:empty,
	.kit-filtration-condition__content>span.kit-block-wrapper {
		margin-right: 0;
	}

	&_hover {
		&::before {
			content: "";
			display: block;
			border-radius: $itemHoverBorderRadius $itemHoverBorderRadius 0 0;
		}

		&+.kit-filtration-group_hover {
			&::before {
				border-radius: 0 0 0 $itemHoverBorderRadius;
			}
		}
	}

	&_edit {
		border-radius: 0 $itemHoverBorderRadius + 1 $itemHoverBorderRadius + 1 0;
		color: #ffffff;

		&:hover:not(&_read-only) {
			>.kit-filtration-condition__content {
				background-color: $editModeColorBg;
			}
		}

		>.kit-filtration-condition__content {
			position: relative;
			background-color: $editModeColorBg;
		}

		>.kit-filtration-condition__drag-and-drop {
			display: flex;
			background-color: $editModeColorBg;
		}

		[class*="kit-segment"] {
			background-color: #ffffff;
		}

		>.kit-filtration-condition__copy,
		>.kit-filtration-condition__remove,
		>.kit-filtration-condition__more {
			visibility: visible;
		}

		.kit-filtration-condition__create {
			color: #ffffff;

			&:hover {
				background-color: transparent;
				opacity: 0.6;
			}
		}
	}

	&_linked-condition-edit {
		&::before {
			content: "";
			display: block;
			background-color: $linkedConditionEditModeColorBg;
			border-radius: $itemHoverBorderRadius $itemHoverBorderRadius 0 0;
		}

		>.kit-filtration-condition__copy,
		>.kit-filtration-condition__remove,
		>.kit-filtration-condition__more {
			display: none;
		}

		.kit-filtration-condition__create:hover {
			background-color: transparent;
			opacity: 0.6;
		}

		&:hover:not(&_read-only) {
			.kit-filtration-condition__drag-and-drop {
				display: none;
			}
		}

		&+.kit-filtration-group_edit {
			&::before {
				border-radius: 0 0 0 $itemHoverBorderRadius;
			}
		}
	}

	&_shaded {
		>* {
			opacity: 0.3;
		}

		&:hover {
			>* {
				opacity: 1;
			}
		}
	}

	>.kit-filtration-condition__content {
		[class*="kit-segment"]:not(.kit-segment-content__count) {
			margin-left: 10px;
		}
	}

	&_read-only {

		>.kit-filtration-condition__drag-and-drop,
		>.kit-filtration-condition__content>b {
			pointer-events: none;
			cursor: default;
		}

		>.kit-filtration-condition__copy,
		>.kit-filtration-condition__remove,
		>.kit-filtration-condition__more {
			display: none;
		}
	}
}

.kit-filtration-condition__drag-and-drop {
	position: absolute;
	top: 3px;
	right: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	width: 5px;
	height: calc(100% - 6px);
	background-color: $hoverColorBg;
	border-radius: $itemHoverBorderRadius 0 0 $itemHoverBorderRadius;
}

.kit-filtration-condition__copy,
.kit-filtration-condition__remove {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	min-height: 26px;
	border: 0;
}

.kit-filtration-condition__copy,
.kit-filtration-condition__remove,
.kit-filtration-condition__more {
	margin-left: 2px;
	outline: none;
	visibility: hidden;
	transition: background-color 0.15s ease-in-out;
	cursor: pointer;
}

.kit-filtration-condition__create {
	position: relative;
	z-index: 1;
	display: inline-flex;
	height: 100%;
	margin-bottom: -3px;
	margin-left: -3px;
	padding: 0 5px;
	background: none;
	border: none;
	outline: none;
	color: #717171;
	transition: background-color 0.15s ease-in-out, opacity 0.25s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: darken($copyColorBg, 10%);
	}
}

.kit-filtration-condition .kit-filtration-condition__create {
	vertical-align: middle;
}

.kit-filtration-condition__copy {
	background-color: $copyColorBg;
	color: $copyColor;

	&:hover {
		background-color: darken($copyColorBg, 10%);
	}
}

.kit-filtration-condition__remove {
	background-color: $removeColorBg;
	border-radius: 0 $itemHoverBorderRadius $itemHoverBorderRadius 0;
	color: $removeColor;

	&:hover {
		background-color: darken($removeColorBg, 10%);
	}
}

.kit-filtration-condition__more {
	background-color: $copyColorBg;
	border-radius: 0 $itemHoverBorderRadius $itemHoverBorderRadius 0;

	&:hover {
		background-color: darken($copyColorBg, 10%);
	}

	.kit-actions-dropdown__action {
		white-space: nowrap;
	}
}

.kit-filtration-condition__item-text__block-method-params {
	display: inline-flex;

	>*:not(:last-child) {
		margin-right: 10px;
	}
}

.kit-filtration-condition__popover {
	position: relative;
	margin-top: -3px;
	padding: 10px 14px 12px 18px;
	background-color: #ffffff;
	border: solid 1px $borderPopoverColor;
	border-radius: 3px;
	box-shadow: 1px 1px 4px 0 rgba(#000000, 0.1);
	box-sizing: border-box;
}

.kit-filtration-condition__negative-name-part {
	color: $removeColor;
}
