.kit-filtration-condition {
	position: relative;
	margin-bottom: 10px;
	font-family: "PT Sans", sans-serif;
	list-style: none;
}

.kit-filtration-condition__last-child {
	b:after {
		content: "";
		position: absolute;
		top: 9px;
		left: -19px;
		width: 15px;
		height: 2px;
		background-color: #dcc6f3;
	}
}

.kit-filtration-condition__item-text {
	margin: 0;
	margin-bottom: 5px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;

	b {
		margin-right: 5px;
	}
}
