@import "../sass/main";

.kit-filtration-condition {
	position: relative;
	list-style: none;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;

	&_with-alert {
		font-weight: 700;
		color: $removeColor;
	}
}

.kit-filtration-condition__copy {
	@extend %button-control;
	@extend %button-control-view;
	@extend %button-control-display-none-read-only;
	@extend %button-control-display-none-linked-condition-edit;
	@extend %button-control-visible-edit;
	@extend %button-control-visible-not-read-only;
	@extend %hover-edit-background-white;

	background-color: $copyColorBg;
	color: $copyColor;

	&:hover {
		background-color: darken($copyColorBg, 10%);
	}
}

.kit-filtration-condition__remove {
	@extend %button-control;
	@extend %button-control-view;
	@extend %button-control-display-none-read-only;
	@extend %button-control-display-none-linked-condition-edit;
	@extend %button-control-visible-edit;
	@extend %button-control-visible-not-read-only;

	background-color: $removeColorBg;
	color: $removeColor;

	&:hover {
		background-color: darken($removeColorBg, 10%);
	}
}

.kit-filtration-condition__more {
	@extend %button-control;
	@extend %button-control-display-none-read-only;
	@extend %button-control-display-none-linked-condition-edit;
	@extend %button-control-visible-edit;
	@extend %button-control-visible-not-read-only;

	background-color: $copyColorBg;
	border-radius: 0 $itemHoverBorderRadius $itemHoverBorderRadius 0;

	&:hover {
		background-color: darken($copyColorBg, 10%);
	}
}

.kit-filtration-condition__popover {
	position: relative;
	z-index: 1;
	margin-top: -3px;
	padding: 10px 14px 12px 18px;
	background-color: #ffffff;
	border: solid 1px $borderPopoverColor;
	border-radius: 3px;
	box-shadow: 1px 1px 4px 0 rgba(#000000, 0.1);
	box-sizing: border-box;
}

.kit-filtration-condition__negative-name-part {
	color: $removeColor;
}

.kit-filtration-condition__create {
	position: relative;
	z-index: 1;
	display: inline-flex;
	height: 100%;
	margin-bottom: -3px;
	margin-left: -5px;
	padding: 0 5px;
	background: none;
	border: none;
	border-radius: $itemHoverBorderRadius 0 0 $itemHoverBorderRadius;
	outline: none;
	color: $createButtonColor;
	transition: background-color 0.15s ease-in-out, opacity 0.25s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: darken($copyColorBg, 10%);
	}

	.kit-filtration-condition & {
		vertical-align: middle;
	}

	.kit-filtration-condition__item-text_edit & {
		color: #ffffff;

		&:hover {
			background-color: transparent;
			opacity: 0.6;
		}
	}

	.kit-filtration-condition__item-text_linked-condition-edit &:hover {
		background-color: transparent;
		opacity: 0.6;
	}
}

.kit-filtration-condition__item-text {
	$self: &;
	position: relative;
	z-index: 2;
	display: inline-flex;
	margin-right: 5px;
	padding: 3px 0 3px 0;
	transition: color 0.15s ease-in-out;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: calc(100% + #{$groupHoverMarginRightWithButton});
		height: calc(100% + #{$groupHoverMarginTop});
		min-height: 26px;
		margin: #{-$groupHoverMarginTop} 0 0 #{-$groupHoverMarginLeft};
		background-color: $hoverColorBg;
		border-radius: $itemHoverBorderRadius 0 0 $itemHoverBorderRadius;
		box-sizing: border-box;
		cursor: pointer;
	}

	&_show-dropdown {
		z-index: 3;
	}

	&_shaded {
		> * {
			opacity: 0.3;
		}

		&:hover {
			> * {
				opacity: 1;
			}
		}
	}

	&_hover {
		&::before {
			content: "";
			display: block;
			border-radius: $itemHoverBorderRadius $itemHoverBorderRadius 0 0;
		}

		& + .kit-filtration-group_hover {
			&::before {
				border-radius: 0 0 0 $itemHoverBorderRadius;
			}
		}
	}

	&_edit {
		z-index: 10;
		border-radius: 0 $itemHoverBorderRadius + 1 $itemHoverBorderRadius + 1 0;
		color: #ffffff;

		[class*="kit-segment"] {
			background-color: #ffffff;
		}
	}

	&_linked-condition-edit {
		&::before {
			content: "";
			z-index: 2;
			display: block;
			background-color: $linkedConditionEditModeColorBg;
			border-radius: $itemHoverBorderRadius $itemHoverBorderRadius 0 0;
		}

		& + .kit-filtration-group_edit {
			&::before {
				border-radius: 0 0 0 $itemHoverBorderRadius;
			}
		}
	}
}

.kit-filtration-condition__content {
	@extend %hover-edit-background-white;
	padding-right: 5px;
	padding-left: 5px;
	border-top-left-radius: $itemHoverBorderRadius;
	border-bottom-left-radius: $itemHoverBorderRadius;
	line-height: 26px;

	.kit-filtration-condition__item-text > & {
		.kit-segment-button-expand,
		.kit-segment-button-edit,
		.kit-segment-content {
			margin-left: 10px;
			vertical-align: middle;
		}
	}

	.kit-filtration-condition__item-text_edit > & {
		position: relative;
		background-color: $editModeColorBg;
	}

	.kit-filtration-condition__item-text_linked-condition-edit > & {
		z-index: 2;
		cursor: pointer;
	}

	.kit-filtration-condition__item-text & {
		position: relative;
	}

	.kit-filtration-condition__item-text & > span:empty,
	.kit-filtration-condition__item-text & > span.kit-block-wrapper {
		margin-right: 0;
	}

	.kit-filtration-condition__item-text:hover:not(.kit-filtration-condition__item-text_read-only):not(.kit-filtration-condition__item-text_linked-condition-edit)
		> & {
		background-color: $hoverColorBg;
		cursor: pointer;
	}

	.kit-filtration-condition__item-text:hover:not(.kit-filtration-condition__item-text_read-only).kit-filtration-condition__item-text_edit
		> & {
		background-color: $editModeColorBg;
	}
}

/**
 * Not rule generate section
**/
%button-control-view {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	min-height: 26px;
	border: 0;
}

%button-control {
	margin-left: 2px;
	outline: none;
	visibility: hidden;
	transition: background-color 0.15s ease-in-out;
	cursor: pointer;
}

.kit-filtration-condition__item-text_read-only
	> %button-control-display-none-read-only {
	display: none;
}

.kit-filtration-condition__item-text_linked-condition-edit
	> %button-control-display-none-linked-condition-edit {
	display: none;
}

.kit-filtration-condition__item-text_edit > %button-control-visible-edit {
	visibility: visible;
}

.kit-filtration-condition__item-text:hover:not(.kit-filtration-condition__item-text_read-only)
	> %button-control-visible-not-read-only {
	visibility: visible;
}

.kit-filtration-group_edit
	.kit-filtration-condition__item-text:hover:not(.kit-filtration-condition__item-text_read-only)
	> %hover-edit-background-white {
	background-color: #ffffff;
}
