// Colors
$hoverColorBg: #f5f8fa;
$editModeColorBg: #3875d7;
$removeColorBg: #ffeeeb;
$removeColor: #a12e1e;
$linkedConditionEditModeColorBg: #fde487;

// Sizes
$itemHoverBorderRadius: 3px;
$groupHoverMarginTop: 0px;
$groupHoverMarginLeft: 10px;

.kit-filtration-condition {
	position: relative;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	list-style: none;

	&_with-alert {
		color: $removeColor;
		font-weight: 700;
	}
}

.kit-filtration-condition__item-text {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 3px 5px 3px 0;
	transition: color 0.15s ease-in-out;
	z-index: 2;

	&:hover {
		border-radius: 0 $itemHoverBorderRadius $itemHoverBorderRadius 0;
		background-color: $hoverColorBg;
		cursor: pointer;

		.kit-filtration-condition__drag-and-drop {
			display: flex;
		}
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: calc(100% + #{$groupHoverMarginLeft});
		height: calc(100% + #{$groupHoverMarginTop});
		min-height: 25px;
		margin: #{-$groupHoverMarginTop} 0 0 #{-$groupHoverMarginLeft};
		background-color: $hoverColorBg;
		border-radius: 3px 0 0 3px;
		box-sizing: border-box;
		cursor: pointer;
	}

	.kit-filtration-condition__content > span,
	b {
		position: relative;
		margin-right: 5px;
	}

	&_hover {
		&::before {
			content: "";
			border-radius: $itemHoverBorderRadius $itemHoverBorderRadius 0 0;
		}

		& + .kit-filtration-group_hover {
			&::before {
				border-radius: 0 0 0 $itemHoverBorderRadius;
			}
		}
	}

	&_edit {
		background-color: $editModeColorBg;
		color: #fff;

		.kit-filtration-condition__drag-and-drop {
			display: flex;
			background-color: $editModeColorBg;
		}

		&:hover {
			border-top-right-radius: 0;
			background-color: $editModeColorBg;
		}
	}

	&_linked-condition-edit {
		&::before {
			content: "";
			background-color: $linkedConditionEditModeColorBg;
			border-radius: $itemHoverBorderRadius $itemHoverBorderRadius 0 0;
		}

		&:hover {
			.kit-filtration-condition__drag-and-drop {
				display: none;
			}
		}

		& + .kit-filtration-group_edit {
			&::before {
				border-radius: 0 0 0 $itemHoverBorderRadius;
			}
		}
	}

	&_shaded {
		opacity: 0.3;

		&:hover {
			opacity: 1;
		}
	}

	&_read-only {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		[class*="kit-segment"] {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}

		&:hover,
		.kit-filtration-condition__drag-and-drop {
			background-color: transparent;
			cursor: default;
		}

		.kit-filtration-condition__drag-and-drop,
		.kit-filtration-group__label,
		.kit-filtration-condition__content {
			pointer-events: none;
			z-index: 0;
		}

		.kit-segment-button-expand__popover {
			order: 1;
			width: 100%;
		}
	}
}

.kit-filtration-condition__drag-and-drop {
	position: absolute;
	top: 0;
	right: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	width: 5px;
	height: 100%;
	background-color: $hoverColorBg;
	border-radius: $itemHoverBorderRadius 0 0 $itemHoverBorderRadius;
}

.kit-filtration-condition__remove {
	position: absolute;
	top: 0;
	left: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 100%;
	margin-left: 1px;
	border-radius: 0 $itemHoverBorderRadius $itemHoverBorderRadius 0;
	background-color: $removeColorBg;
	color: $removeColor;
	z-index: 1;
}

.kit-filtration-condition__item-text__block-method-params {
	display: inline-flex;

	> *:not(:last-child) {
		margin-right: 10px;
	}
}
