// Colors
$itemHoverColorBg: #f5f8fa;
$editModeColorBg: #3875d7;
$removeColorBg: #ffeeeb;
$removeColor: #a12e1e;

// Sizes
$itemHoverBorderRadius: 3px;

.kit-filtration-condition {
	position: relative;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	list-style: none;

	&_edit {
		z-index: 18;
	}
}

.kit-filtration-condition__item-text {
	position: relative;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	z-index: 2;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

	span,
	b {
		margin-right: 5px;
	}

	&:hover {
		border-radius: 0 $itemHoverBorderRadius $itemHoverBorderRadius 0;
		background-color: $itemHoverColorBg;
		cursor: pointer;

		.kit-filtration-condition__drag-and-drop {
			display: flex;
		}
	}

	&_edit {
		background-color: $editModeColorBg;
		color: #fff;

		.kit-filtration-condition__drag-and-drop {
			display: flex;
			background-color: $editModeColorBg;
		}

		&:hover {
			background-color: $editModeColorBg;
		}
	}
}

.kit-filtration-condition__drag-and-drop {
	position: absolute;
	top: 0;
	right: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	width: 5px;
	height: 100%;
	background-color: $itemHoverColorBg;
	border-radius: $itemHoverBorderRadius 0 0 $itemHoverBorderRadius;
}

.kit-filtration-condition__remove {
	position: absolute;
	top: 0;
	left: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 100%;
	margin-left: 1px;
	border-radius: 0 $itemHoverBorderRadius $itemHoverBorderRadius 0;
	background-color: $removeColorBg;
	color: $removeColor;
	z-index: 1;
}
