// Colors
$braketColor: #c3d4e1;
$orColor: #dcc6f3;
$orColorEdit: #9859dc;
$andColor: $braketColor;
$andColorEdit: #2d597d;
$removeColorBg: #ffeeeb;
$removeColor: #a12e1e;
$hoverColorBg: #f5f8fa;
$editColorBg: #e2eaf0;
$closeColor: #666;
$copyColorBg: $hoverColorBg;
$copyColor: $andColorEdit;

// Sizing
$groupHoverMarginTop: 0px;
$groupHoverMarginLeft: 10px;
$borderWidthLine: 2px;
$groupLabelPaddingLeft: 15px;
$widthHorizontalBraket: 12px;
$minHeight: 31px;

// Mixins
@mixin opacityBlock($opacity: 1) {
	> .kit-filtration-condition
		> .kit-filtration-condition__item-text:not(.kit-filtration-condition__item-text_edit):not(.kit-filtration-condition__item-text_linked-condition-edit),
	.kit-filtration-group__label {
		opacity: $opacity;

		&:hover {
			opacity: 1;
		}
	}
}

.kit-filtration-group {
	$self: &;
	position: relative;
	min-height: $minHeight;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	& {
		:not(.kit-filtration-condition) > & {
			> li {
				&:first-of-type {
					&::after {
						top: 14px;
						opacity: 0;
					}
				}

				&:last-of-type {
					&::after {
						content: none;
					}
				}
			}
		}
	}

	&_read-only {
		.kit-filtration-group__label {
			pointer-events: none;
			cursor: default;
		}
	}

	&_shaded {
		@include opacityBlock(0.3);
	}

	&_edit {
		@include opacityBlock();

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: calc(100% + #{$groupHoverMarginLeft});
			height: calc(100% + #{$groupHoverMarginTop});
			min-height: $minHeight;
			margin: #{-$groupHoverMarginTop} 0 0 #{-$groupHoverMarginLeft};
			background-color: $editColorBg;
			border-radius: 3px 0 0 3px;
			box-sizing: border-box;
			cursor: pointer;
		}

		> .kit-filtration-group__buttons {
			margin-left: 20px;
			outline: none;

			button {
				opacity: 1;
			}
		}

		> .kit-filtration-group__label_or,
		> .kit-filtration-group__label_and {
			.kit-filtration-group__label-text {
				transform: translateX(-100%);
				background-color: transparent;
				margin-left: 2px;

				&:hover {
					background-color: transparent;
				}
			}
		}

		> .kit-filtration-group__label_or {
			color: $orColorEdit;

			.kit-filtration-group__label-line {
				background-color: $orColorEdit;
			}
		}

		> .kit-filtration-group__label_and {
			color: $andColorEdit;

			.kit-filtration-group__label-line {
				background-color: $andColorEdit;
			}
		}

		> .kit-filtration-group {
			> .kit-filtration-group__label_hover_or {
				color: $orColorEdit;

				.kit-filtration-group__label-line,
				.kit-filtration-group__label-text {
					background-color: $orColorEdit;
				}
			}

			> .kit-filtration-group__label_hover_and {
				color: $andColorEdit;

				.kit-filtration-group__label-button,
				.kit-filtration-group__label-line,
				.kit-filtration-group__label-text {
					background-color: $andColorEdit;
				}

				.kit-filtration-group__label-text {
					color: #fff;
				}
			}
		}
	}

	&_not-children {
		min-height: $minHeight;

		&#{$self}_edit {
			margin-left: 30px;
		}

		> .kit-filtration-group__label_or,
		> .kit-filtration-group__label_and {
			.kit-filtration-group__label-text-height {
				margin-right: -22px;
				margin-top: 4px;
			}

			.kit-filtration-group__label-text-buttons {
				margin-right: -11px;
			}
		}
	}

	&_hover {
		cursor: pointer;
		@include opacityBlock();

		> .kit-filtration-group__label_hover_or {
			color: $orColorEdit;
			background-color: $hoverColorBg;

			.kit-filtration-group__label-text,
			.kit-filtration-group__label-line {
				background-color: $orColorEdit;
			}
		}

		> .kit-filtration-group__label_hover_and {
			color: $andColorEdit;
			background-color: $hoverColorBg;

			.kit-filtration-group__label-button,
			.kit-filtration-group__label-line,
			.kit-filtration-group__label-text {
				background-color: $andColorEdit;
			}

			.kit-filtration-group__label-text {
				color: #fff;
			}
		}

		> .kit-filtration-group__buttons {
			button {
				opacity: 1;
			}
		}
	}

	> li {
		margin: 0;
		width: 100%;
		padding-left: 20px;
		box-sizing: border-box;

		.kit-filtration-group__buttons {
			margin-left: 20px;
		}
	}

	.kit-filter__btn {
		position: relative;
		margin-left: 20px;
		box-sizing: border-box;
	}
}

.kit-filtration-group__label {
	position: absolute;
	top: 0;
	left: -10px;
	display: flex;
	align-items: center;
	width: calc(100% + 10px);
	height: 1px;
	padding: 16px $groupLabelPaddingLeft 15px;
	border-radius: 3px 0 0 3px;
	color: $braketColor;
	z-index: 2;
	box-sizing: border-box;

	& ~ .kit-filtration-group,
	& ~ .kit-filtration-condition {
		.kit-filtration-group__label {
			border-radius: 0 0 0 3px;
		}
	}

	&_and {
		color: $andColor;

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			color: $andColorEdit;
			background-color: $andColor;
		}
	}

	&_or {
		color: $orColor;

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			background-color: $orColor;
		}
	}

	& ~ ul {
		margin-left: 30px;
	}

	& ~ .kit-filtration-group_not-children.kit-filtration-group_edit {
		margin-left: 60px;
	}
}

.kit-filtration-group__label-line {
	position: absolute;
	display: inline-flex;
	align-items: center;
	width: $borderWidthLine;
	left: $groupLabelPaddingLeft;
	height: 100%;
	margin-top: 0;
	margin-left: -1px;
	background-color: $braketColor;
	box-sizing: border-box;
}

.kit-filtration-group__label-horizontal-bracket {
	position: absolute;
	display: inline-block;
	width: 11px;
	border-top: 2px solid;
	color: currentColor;
}

.kit-filtration-group__label-vertical-bracket {
	position: absolute;
	top: -2px;
	left: 14px;
	height: calc(100% - #{$minHeight / 2});
	border-left: 2px solid;
	color: currentColor;
}

.kit-filtration-group__label-text {
	position: absolute;
	left: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 26px;
	min-height: 16px;
	border-radius: 3px;
	font-family: "PT Sans", sans-serif;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	transform: translateX(-50%);
	z-index: 1;
	box-sizing: border-box;
}

.kit-filtration-group__buttons {
	position: relative;
	display: inline-flex;
	align-items: center;
	min-height: $minHeight;
	padding-right: 20px;
	box-sizing: border-box;
	outline: none;
	z-index: 3;

	button {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	> * {
		z-index: 2;
	}

	> *:not(:last-child) {
		margin-right: 5px;
	}

	&:not(&_no-children) {
		margin-left: 20px;
	}

	&_no-children {
		> * {
			z-index: 3;
		}

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: calc(100% + 10px);
			height: 100%;
			left: -10px;
			top: 0;
			z-index: 3;
		}
	}
}

.kit-filtration-group__remove,
.kit-filtration-group__copy {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
	border: 0;
	transition: background-color 0.15s ease-in-out;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
}

.kit-filtration-group__remove {
	width: 34px;
	background-color: $removeColorBg;
	color: $removeColor;

	&:hover {
		background-color: darken($removeColorBg, 10%);
	}
}

.kit-filtration-group__copy {
	width: 36px;
	background-color: $copyColorBg;
	color: $copyColor;

	&:hover {
		background-color: darken($copyColorBg, 10%);
	}
}

.kit-filtration-group__label-button {
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	line-height: 1;
	font-size: 12px;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	color: rgba(#fff, 0.25);
	box-sizing: border-box;

	&_active {
		color: #fff;
	}

	*:not(:last-child) {
		margin-right: 5px;
	}
}

.kit-filtration-group__close {
	position: absolute;
	top: 7px;
	right: 13px;
	padding: 0;
	border: 0;
	background: none;
	color: $closeColor;
	cursor: pointer;
	z-index: 10;
	outline: none;
	transition: color 0.15s ease-in-out;

	&:hover {
		color: $andColor;
	}
}

.kit-filtration-group__label-text-buttons {
	display: flex;
	align-items: center;
	height: 22px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	border-radius: 4px 0 0 4px;
	box-sizing: border-box;

	&_or {
		.kit-filtration-group__label-button {
			background-color: $orColorEdit;
		}
	}

	&_and {
		.kit-filtration-group__label-button {
			background-color: $andColorEdit;
		}
	}

	> *:not(:first-child) {
		margin-left: 1px;
	}

	> *:first-child {
		border-radius: 4px 0 0 4px;
	}

	.kit-filtration-group__label-button {
		padding: 0 6px 0 9px;
		height: 100%;
		margin-right: 0;
		font-size: 12px;
	}
}
