$groupHoverMarginTopBottom: 5px;

.kit-filtration-group {
	margin: 0;
	padding: 0;
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		min-height: 20px;
		margin: #{-$groupHoverMarginTopBottom} 0 #{-$groupHoverMarginTopBottom} -17px;
		padding: $groupHoverMarginTopBottom 0 $groupHoverMarginTopBottom 17px;
		background-color: #f5f8fa;
	}

	& {
		:not(.kit-filtration-condition) > & {
			> li {
				&:first-of-type {
					&::after {
						top: 10px;
					}
				}

				&:last-of-type {
					&::after {
						content: none;
					}
				}
			}
		}
	}

	// ================
	// Edit mode
	// ================
	&_edit {
		&::before {
			content: "";
		}

		.kit-filtration-group__buttons {
			margin-left: 40px;
		}

		> .kit-filtration-group__label_or,
		> .kit-filtration-group__label_and {
			z-index: 2;

			.kit-filtration-group__label-text {
				left: auto;
				right: calc(100% - 50px);
				display: flex;
				align-items: center;
				min-width: 40px;
				height: 28px;
				padding-left: 9px;
				padding-right: 9px;
				margin-top: 1px;
				background-color: #fff;
				color: #d0d0d0;
				font-size: 12px;
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
			}
		}
	}

	// ================
	// Hover
	// ================
	&_hover {
		cursor: pointer;

		&::before {
			content: "";
		}

		> * {
			z-index: 1;
		}
	}

	> li {
		margin-top: 10px;
		padding-left: 20px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 1px;
			color: #e3ebf2;
		}

		&::before {
			top: 10px;
			width: 13px;
			border-top: 2px solid;
		}

		&::after {
			top: -10px;
			height: 100%;
			border-left: 2px solid;
		}

		&:last-child {
			&::after {
				height: 20px;
			}
		}
	}

	.kit-filter__btn {
		position: relative;
		margin-left: 20px;
	}
}

.kit-filtration-group__label {
	position: absolute;
	top: 0;
	left: -14px;
	display: flex;
	align-items: center;
	padding: #{$groupHoverMarginTopBottom * 2} 15px;
	color: #e3ebf2;
	z-index: 1;

	&:hover {
		z-index: 2;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 16px;
		display: block;
		width: 11px;
		border-top: 2px solid;
	}

	&::before {
		top: 10px;
	}

	&::after {
		bottom: 10px;
	}

	&_and,
	&_or {
		& ~ li {
			&::after {
				content: none;
			}

			li {
				&::after {
					content: "";
				}
			}
		}
	}

	&_and {
		$andColor: #2d597d;
		color: $andColor;
		& ~ .kit-filtration-condition::before {
			color: $andColor;
		}

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			background-color: $andColor;
		}
	}

	&_or {
		$orColor: #dcc6f3;
		color: $orColor;
		& ~ .kit-filtration-condition::before {
			color: $orColor;
		}

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			background-color: $orColor;
		}
	}

	& ~ ul {
		margin-left: 30px;

		&.kit-filtration-group_edit {
			margin-left: 40px;
		}
	}
}

.kit-filtration-group__label-line {
	width: 2px;
	height: 100%;
	background-color: #e3ebf2;
}

.kit-filtration-group__label-text {
	position: absolute;
	left: 2px;
	padding: 2px 3px 0;
	min-width: 20px;
	border-radius: 3px;
	font-family: "PT Sans", sans-serif;
	color: #ffffff;
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	text-align: center;
	z-index: 1;
}

.kit-filtration-group__buttons {
	display: flex;
	margin-right: 20px;

	> *:not(:last-child) {
		margin-right: 5px;
	}
}

.kit-filtration-group__remove {
	position: absolute;
	top: #{-$groupHoverMarginTopBottom};
	right: -46px;
	display: block;
	width: 44px;
	height: calc(100% + #{$groupHoverMarginTopBottom * 2});
	background-color: #ffeeeb;
	border: 0;
	cursor: pointer;
	outline: none;
}

.kit-filtration-group__label-button {
	font-weight: 700;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	outline: none;

	&:not(&_active) {
		color: inherit;
	}

	&:not(:last-child) {
		margin-right: 3px;
	}
}
