// Colors
$braketColor: #c3d4e1;
$orColor: #dcc6f3;
$orColorEdit: #9859dc;
$andColor: #2d597d;
$andColorEdit: $andColor;
$removeColorBg: #ffeeeb;
$removeColor: #a12e1e;
$hoverColorBg: #f5f8fa;
$editColorBg: #e2eaf0;

// Sizing
$groupHoverMarginTop: 0px;
$groupHoverMarginLeft: 10px;
$borderWidthLine: 2px;
$groupLabelPaddingLeft: 15px;
$widthHorizontalBraket: 12px;

// Mixins
@mixin opacityBlock($opacity: 1) {
	> .kit-filtration-condition
		> .kit-filtration-condition__item-text:not(.kit-filtration-condition__item-text_edit):not(.kit-filtration-condition__item-text_linked-condition-edit),
	.kit-filtration-group__label {
		opacity: $opacity;
	}
}

.kit-filtration-group {
	$self: &;
	position: relative;
	min-height: 25px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	& {
		:not(.kit-filtration-condition) > & {
			> li {
				&:first-of-type {
					&::after {
						top: 14px;
						opacity: 0;
					}
				}

				&:last-of-type {
					&::after {
						content: none;
					}
				}
			}
		}
	}

	&_shaded {
		@include opacityBlock(0.3);
	}

	&_edit {
		@include opacityBlock();

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: calc(100% + #{$groupHoverMarginLeft});
			height: calc(100% + #{$groupHoverMarginTop});
			min-height: 25px;
			margin: #{-$groupHoverMarginTop} 0 0 #{-$groupHoverMarginLeft};
			background-color: $editColorBg;
			border-radius: 3px 0 0 3px;
			box-sizing: border-box;
			cursor: pointer;
		}

		.kit-filtration-group__buttons {
			margin-left: 22px;
			outline: none;

			&::before {
				z-index: 1;
			}
		}

		> .kit-filtration-group__label_or,
		> .kit-filtration-group__label_and {
			z-index: 2;

			.kit-filtration-group__label-text {
				left: auto;
				right: calc(100% - 12px);
				display: flex;
				align-items: center;
				min-width: 40px;
				height: 20px;
				padding-left: 9px;
				padding-right: 9px;
				font-size: 12px;
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
				border-radius: 4px 0 0 4px;
			}
		}

		> .kit-filtration-group__label_or {
			color: $orColorEdit;

			.kit-filtration-group__label-text,
			.kit-filtration-group__label-line {
				background-color: $orColorEdit;
			}

			& ~ li {
				&::before,
				&::after {
					color: $orColorEdit;
				}
			}
		}

		> .kit-filtration-group__label_and {
			color: $andColorEdit;

			.kit-filtration-group__label-text,
			.kit-filtration-group__label-line {
				background-color: $andColorEdit;
			}

			& ~ li {
				&::before,
				&::after {
					color: $andColorEdit;
				}
			}
		}
	}

	&_not-children {
		min-height: 25px;

		&#{$self}_edit {
			margin-left: 30px;
		}

		> .kit-filtration-group__label_or,
		> .kit-filtration-group__label_and {
			.kit-filtration-group__label-text {
				right: calc(100% - 30px);
			}
		}

		&#{$self}_shaded {
			.kit-filtration-group__buttons {
				position: relative;
				outline: none;

				&::before {
					content: "";
					left: -19px;
				}
			}
		}
	}

	&_hover {
		cursor: pointer;
		@include opacityBlock();

		> .kit-filtration-group__label_hover_or {
			color: $orColorEdit;
			background-color: $hoverColorBg;

			.kit-filtration-group__label-text,
			.kit-filtration-group__label-line {
				background-color: $orColorEdit;
			}

			& ~ li,
			& ~ .kit-filtration-group__buttons {
				&::before,
				&::after {
					color: $orColorEdit;
				}
			}
		}

		> .kit-filtration-group__label_hover_and {
			color: $andColorEdit;
			background-color: $hoverColorBg;

			.kit-filtration-group__label-text,
			.kit-filtration-group__label-line {
				background-color: $andColorEdit;
			}

			& ~ li,
			& ~ .kit-filtration-group__buttons {
				&::before,
				&::after {
					color: $andColorEdit;
				}
			}
		}

		.kit-filtration-group__buttons {
			&::before {
				z-index: 2;
			}
		}
	}

	> li {
		margin: 0;
		width: 100%;
		padding-left: 20px;
		box-sizing: border-box;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 1px;
			display: block;
			color: $braketColor;
			box-sizing: border-box;
			z-index: 2;
		}

		&::before {
			top: 13px;
			width: #{$widthHorizontalBraket + 1};
			border-top: $borderWidthLine solid;
		}

		&::after {
			top: -4px;
			height: 18px;
			border-left: $borderWidthLine solid;
		}

		&:last-child {
			&::after {
				height: 17px;
			}
		}

		.kit-filtration-group__buttons {
			margin-left: 20px;
			outline: none;

			&::before {
				content: "";
				left: -19px;
			}
		}
	}

	.kit-filter__btn {
		position: relative;
		margin-left: 20px;
		box-sizing: border-box;
	}
}

.kit-filtration-group__label {
	position: absolute;
	top: 0;
	left: -10px;
	display: flex;
	align-items: center;
	width: calc(100% - 25px);
	height: 1px;
	padding: 15px $groupLabelPaddingLeft 10px;
	color: $braketColor;
	z-index: 2;
	box-sizing: border-box;

	&:hover {
		z-index: 2;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 11px;
		display: block;
		width: $widthHorizontalBraket;
		border-top: 2px solid;
		box-sizing: border-box;
	}

	&::before {
		top: 13px;
	}

	&::after {
		bottom: 10px;
	}

	&_and,
	&_or {
		& ~ li {
			li {
				&::after {
					content: "";
				}
			}
		}
	}

	&_and {
		color: $andColor;
		& ~ .kit-filtration-condition::before {
			color: $andColor;
		}

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			background-color: $andColor;
		}

		& ~ li:not(:first-of-type) {
			&::after {
				content: none;
			}
		}
	}

	&_or {
		color: $orColor;
		& ~ .kit-filtration-condition::before {
			color: $orColor;
		}

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			background-color: $orColor;
		}

		& ~ li:not(:first-of-type) {
			&::after {
				content: none;
			}
		}
	}

	&_none {
		&::after {
			content: none;
		}
	}

	& ~ li:first-of-type,
	& ~ li:last-child {
		&::before {
			content: none;
		}
	}

	& ~ ul {
		margin-left: 30px;
	}

	& ~ .kit-filtration-group_not-children.kit-filtration-group_edit {
		margin-left: 60px;
	}
}

.kit-filtration-group__label-line {
	width: $borderWidthLine;
	height: 100%;
	margin-left: -4px;
	background-color: $braketColor;
	box-sizing: border-box;
}

.kit-filtration-group__label-text {
	position: absolute;
	left: -2px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 26px;
	height: 16px;
	border-radius: 3px;
	font-family: "PT Sans", sans-serif;
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;
}

.kit-filtration-group__buttons {
	position: relative;
	display: flex;
	margin-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
	outline: none;

	> * {
		z-index: 2;
	}

	> *:not(:last-child) {
		margin-right: 5px;
	}

	&::before {
		position: absolute;
		display: block;
		color: $braketColor;
		box-sizing: border-box;
		top: -4px;
		height: 17px;
		border-left: $borderWidthLine solid;
		z-index: 2;
	}
}

.kit-filtration-group__remove {
	position: absolute;
	top: #{-$groupHoverMarginTop};
	right: -46px;
	display: block;
	width: 44px;
	height: calc(100% + #{$groupHoverMarginTop * 2});
	background-color: $removeColorBg;
	border: 0;
	border-radius: 0 3px 3px 0;
	color: $removeColor;
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
}

.kit-filtration-group__label-button {
	font-weight: 700;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	color: rgba(#fff, 0.25);
	box-sizing: border-box;

	&_active {
		color: #fff;
	}

	*:not(:last-child) {
		margin-right: 3px;
	}
}

.kit-filtration-group__close {
	position: absolute;
	top: 9px;
	right: 13px;
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
	z-index: 1;
	outline: none;
}
