.kit-filtration-group {
	margin: 0;
	padding: 0;
	position: relative;

	& {
		:not(.kit-filtration-condition) > & {
			> li {
				&:first-of-type {
					&::after {
						top: 10px;
					}
				}

				&:last-of-type {
					&::after {
						content: none;
					}
				}
			}
		}
	}

	&_hover {
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			margin-left: -17px;
			padding-left: 17px;
			background-color: #f5f8fa;
		}

		> * {
			z-index: 1;
		}
	}

	> li {
		margin-top: 10px;
		padding-left: 20px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 1px;
			color: #e3ebf2;
		}

		&::before {
			top: 10px;
			width: 13px;
			border-top: 2px solid;
		}

		&::after {
			top: -10px;
			height: 100%;
			border-left: 2px solid;
		}

		&:last-child {
			&::after {
				height: 20px;
			}
		}
	}

	.kit-filter__btn {
		position: relative;
		margin-left: 20px;
	}
}

.kit-filtration-group__label {
	position: absolute;
	top: 0;
	left: -14px;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	color: #e3ebf2;
	z-index: 1;

	&:hover {
		z-index: 2;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 16px;
		display: block;
		width: 11px;
		border-top: 2px solid;
	}

	&::before {
		top: 10px;
	}

	&::after {
		bottom: 10px;
	}

	&_and,
	&_or {
		& ~ li {
			&::after {
				content: none;
			}

			li {
				&::after {
					content: "";
				}
			}
		}
	}

	&_and {
		$andColor: #2d597d;
		color: $andColor;
		& ~ .kit-filtration-condition::before {
			color: $andColor;
		}

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			background-color: $andColor;
		}
	}

	&_or {
		$orColor: #dcc6f3;
		color: $orColor;
		& ~ .kit-filtration-condition::before {
			color: $orColor;
		}

		.kit-filtration-group__label-text,
		.kit-filtration-group__label-line {
			background-color: $orColor;
		}
	}

	& ~ ul {
		margin-left: 20px;
	}
}

.kit-filtration-group__label-line {
	width: 2px;
	height: 100%;
	background-color: #e3ebf2;
}

.kit-filtration-group__label-text {
	position: absolute;
	left: 2px;
	padding: 2px 3px 0;
	min-width: 20px;
	border-radius: 3px;
	font-family: "PT Sans", sans-serif;
	color: #ffffff;
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	text-align: center;
	z-index: 1;
}
