.kit-filtration-group {
	margin: 0;
	padding: 0;
	position: relative;

	&_no-label {
		:not(.kit-filtration-condition) > & {
			> li:first-child {
				&::after {
					top: 10px;
				}
			}
		}
	}

	> li {
		margin-top: 10px;
		padding-left: 20px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 1px;
			color: #e3ebf2;
		}

		&::before {
			top: 10px;
			width: 14px;
			border-top: 2px solid;
		}

		&::after {
			top: -10px;
			height: calc(100% + 10px);
			border-left: 2px solid;
		}

		&:last-child {
			&::after {
				height: 20px;
			}
		}
	}

	.kit-filter__btn {
		position: relative;
		margin-left: 20px;
	}
}

.kit-filtration-group__label {
	position: absolute;
	display: flex;
	align-items: center;
	top: 10px;
	left: 1px;
	color: #e3ebf2;
	border-left: 2px solid;
	z-index: 1;

	&::before,
	&::after {
		position: absolute;
		content: "";
		display: block;
		width: 11px;
		border-top: 2px solid;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	&_and {
		$andColor: #2d597d;
		color: $andColor;
		& ~ .kit-filtration-condition::before {
			color: $andColor;
		}

		.kit-filtration-group__label-text {
			background-color: $andColor;
		}
	}

	&_or {
		$orColor: #dcc6f3;
		color: $orColor;
		& ~ .kit-filtration-condition::before {
			color: $orColor;
		}

		.kit-filtration-group__label-text {
			background-color: $orColor;
		}
	}

	& + li {
		&::after {
			content: none;
		}

		.kit-filtration-group > li {
			&::after {
				content: "";
			}
		}
	}

	& ~ ul {
		margin-left: 20px;
	}
}

.kit-filtration-group__label-text {
	position: absolute;
	left: -14px;
	padding: 2px 3px 0;
	min-width: 20px;
	border-radius: 3px;
	font-family: "PT Sans", sans-serif;
	color: #ffffff;
	font-size: 10px;
	font-weight: 400;
	line-height: 13px;
	text-align: center;
}
