@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/PTS55F_W.woff");
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	src: url("../fonts/PTS56F_W.woff");
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/PTS75F_W.woff");
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: bold;
	src: url("../fonts/PTS76F_W.woff");
}
