@font-face {
	font-family: 'PT Sans';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/PTS55F_W.woff');
}

@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	src: url('../fonts/PTS56F_W.woff');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/PTS75F_W.woff');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/PTS76F_W.woff');
}
