@import '../variables';

.kit-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "PT Sans", sans-serif;
    color: #333333;

    @media (max-width: $tablet) {
        padding-right: 16px;
    }

    & thead {
        border-bottom: 1px solid #d4d4d4;

        & th:not(:first-child) {
            font-size: 14px;
            font-weight: bold;
        }

        & th:first-child {
            text-align-last: left;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }

        & th:nth-child(2) {
            @media (max-width: $tablet-medium) {
                display: none;
            }
        }
    }

    & td:not(:first-child),
    & th:not(:first-child) {
        width: 56%;
        text-align: right;

        @media (max-width: $tablet-medium) {
            text-align: left;
        }
    }

    & th {
        padding-bottom: 12px;
    }

    &__wrapper {
        position: relative;
        max-height: 60px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 22px;
        padding-right: 22px;
        overflow: hidden;
        background-color: #fffaed;
        border-radius: 4px;
        box-sizing: border-box;
        // transition: max-height .4s linear;

        &_open {
            max-height: 600px;
        }

        @media (max-width: $tablet-medium) {
            padding-left: 22px;
            padding-right: 22px;
        }

        @media (max-width: $tablet) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__th {
        opacity: 0;

        &_visible {
            opacity: 1;
        }
    }

    &__row {
        vertical-align: top;

        @media (max-width: $tablet-medium) {
            display: flex;
            flex-direction: column;
        }

        & td {
            padding-top: 18px;
        }
    }

    &__mob-title {
        display: none;

        @media (max-width: $tablet-medium) {
            display: inline-block;
        }
    }

    &__btn {
        position: absolute;
        top: 16px;
        right: 22px;
        padding: 0;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        &_hidden {
            display: none;
            visibility: hidden;
        }
    }

    &__icon {
        transition: transform .2s ease;

        &_open {
            transform: rotate(180deg);
        }
    }

    &__name {
        width: 316px;
        font-weight: 300;

        @media (max-width: $tablet-medium) {
            width: 240px;
        }

        @media (max-width: $tablet) {
            width: auto;
        }
    }

    &__description {
        font-size: 13px;
        line-height: 15px;
        color: #999999;
        margin-top: 2px;
    }

    &__sale-signature {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 13px;
        color: #417505;
    }

    &__old-price {
        margin-right: 10px;
        text-decoration: line-through;
        color: #979797;
    }
}
