.kit-stock-item {
	box-sizing: border-box;
	position: relative;
	display: flex;
	border: 1px dashed #d8d8d8;
	border-radius: 4px;
	height: 42px;

	&::before {
		content: "";
		position: absolute;
		top: 13px;
		left: 14px;
		width: 10px;
		height: 14px;
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%238AACC2' fill-rule='evenodd' opacity='.5'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='5' cy='1' r='1'/%3E%3Ccircle cx='9' cy='1' r='1'/%3E%3Ccircle cx='1' cy='5' r='1'/%3E%3Ccircle cx='5' cy='5' r='1'/%3E%3Ccircle cx='9' cy='5' r='1'/%3E%3Ccircle cx='1' cy='9' r='1'/%3E%3Ccircle cx='5' cy='9' r='1'/%3E%3Ccircle cx='9' cy='9' r='1'/%3E%3Ccircle cx='1' cy='13' r='1'/%3E%3Ccircle cx='5' cy='13' r='1'/%3E%3Ccircle cx='9' cy='13' r='1'/%3E%3C/g%3E%3C/svg%3E");
	}

	& + .kit-stock-item {
		border-top: 0;
		border-radius: 0 0 4px 4px;

		&:not(.kit-stock-item_last-before-group) {
			border-radius: 0.01px;
			border-bottom-style: solid;
		}

		&:last-of-type {
			border-radius: 0 0 4px 4px;
			border-bottom-style: dashed;
		}
	}

	&:first-child:not(:only-child) {
		border-bottom-style: solid;
		border-radius: 4px 4px 0 0;
	}

	:not(.kit-stock-item) + & {
		border-bottom-style: solid;
		border-radius: 4px 4px 0 0;
		margin-top: 8px;
	}

	.kit-tooltip {
		display: none;
	}

	&:hover {
		.kit-tooltip {
			display: inline;
		}

		.kit-badge {
			display: none;
		}
	}

	&_finished {
		color: #999;

		.kit-stock-item__name {
			color: #999;
		}

		svg {
			fill: #999;
		}
	}

	&_edit-mode {
		&::after {
			content: "";
			position: absolute;
			top: 13px;
			left: -8px;
			width: 9px;
			height: 9px;
			background-color: #e7950f;
			border-radius: 50%;
			border: 3px solid #fff;
		}
	}

	&_filtering {
		//.kit-stock-item__name,
		//.kit-stock-item__promo-title,
		//.kit-stock-item__sale {
		//	opacity: 0.3;
		//}

		.kit-stock-item__name {
			//color: #265378;
			font-weight: 600;
			//opacity: 1;
		}
	}
}

.kit-stock-item__promo {
	display: flex;
	align-items: center;
	padding: 0 20px;
	width: 410px;
	flex-shrink: 0;
	flex-grow: 0;
}

.kit-stock-item__promo-title-wrap {
	display: flex;
	align-items: center;
	margin: 0;
	margin-right: 8px;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 205px;
	max-width: 50%;
}

.kit-stock-item__promo-title {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-left: 26px;

	&_no-sale {
		color: #999;
	}
}

.kit-stock-item__title-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 16px 7px 60px;
	width: 100%;
	border-right: 1px solid #d8d8d8;
}

.kit-stock-item__sale {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;

	&_no-sale {
		color: #999;
	}
}

.kit-stock-item__name {
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 5px;
	text-overflow: ellipsis;
	color: #265378;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
}

.kit-stock-item__action-dropdown {
	display: flex;
	align-items: center;
	margin-right: 10px;
}
