.kit-stock-item {
	position: relative;
	display: flex;
	align-items: center;
	border: 1px dashed #d8d8d8;
	border-radius: 4px;
	height: 40.3px; // for PP

	&::before {
		content: "";
		position: absolute;
		bottom: 15px;
		left: 14px;
		width: 10px;
		height: 14px;
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%238AACC2' fill-rule='evenodd' opacity='.5'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='5' cy='1' r='1'/%3E%3Ccircle cx='9' cy='1' r='1'/%3E%3Ccircle cx='1' cy='5' r='1'/%3E%3Ccircle cx='5' cy='5' r='1'/%3E%3Ccircle cx='9' cy='5' r='1'/%3E%3Ccircle cx='1' cy='9' r='1'/%3E%3Ccircle cx='5' cy='9' r='1'/%3E%3Ccircle cx='9' cy='9' r='1'/%3E%3Ccircle cx='1' cy='13' r='1'/%3E%3Ccircle cx='5' cy='13' r='1'/%3E%3Ccircle cx='9' cy='13' r='1'/%3E%3C/g%3E%3C/svg%3E");
	}

	& + .kit-stock-item {
		border-top: 0;
		border-radius: 0 0 4px 4px;

		&:not(.kit-stock-item_last-before-group) {
			border-radius: 0.01px;
			border-bottom-style: solid;
		}

		&:last-of-type {
			border-radius: 0 0 4px 4px;
			border-bottom-style: dashed;
		}
	}

	&:first-child:not(:only-child) {
		border-bottom-style: solid;
		border-radius: 4px 4px 0 0;
	}

	:not(.kit-stock-item) + & {
		border-bottom-style: solid;
		border-radius: 4px 4px 0 0;
		margin-top: 8px;
	}

		.kit-tooltip {
			display: none;
		}

		&:hover {
			.kit-tooltip {
				display: inline;
			}

			.kit-badge {
				display: none;
			}
		}

	&_finished {
		color: #999;

		.kit-stock-item__name {
			color: #999;
		}

		svg {
			fill: #999;
		}
	}

	&_edit-mode {

		&::after {
			content: "";
			position: absolute;
			left: -5px;
			width: 9px;
			height: 9px;
			background-color: #E7950F;
			border-radius: 50%;
		}
	}
}

.kit-stock-item__promo {
	width: 428px;
	display: flex;
	align-items: center;
	padding-left: 22px;
	flex-shrink: 0;
}

.kit-stock-item__promo-title-wrap {
	display: flex;
	align-items: center;
	margin: 0;
	margin-right: 8px;
	min-width: 150px;
}

.kit-stock-item__promo-title {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-left: 26px;

	&_no-sale {
		color: #999;
	}
}

.kit-stock-item__title-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px 10px 61px;
	width: calc(100% - 470px);
	border-right: 1px solid #d8d8d8;
}

.kit-stock-item__sale {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;

	&_no-sale {
		color: #999;
	}
}

.kit-stock-item__name {
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 5px;
	text-overflow: ellipsis;
	color: #265378;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
}

.kit-stock-item__action-dropdown {
	margin-right: 10px;
}
