.kit-stock-item {
	display: flex;
	align-items: center;
	border: 1px dashed #d8d8d8;
	border-radius: 4px;
	height: 40.3px; // for PP

	& + .kit-stock-item {
		border-top: 0;
		border-radius: 0 0 4px 4px;

		&:not(.kit-stock-item_last-before-group) {
			border-radius: 0.01px;
			border-bottom-style: solid;
		}

		&:last-of-type {
			border-radius: 0 0 4px 4px;
			border-bottom-style: dashed;
		}
	}

	&:first-child:not(:only-child) {
		border-bottom-style: solid;
		border-radius: 4px 4px 0 0;
	}

	:not(.kit-stock-item) + & {
		border-bottom-style: solid;
		border-radius: 4px 4px 0 0;
		margin-top: 8px;
	}

		.kit-tooltip {
			display: none;
		}

		&:hover {
			.kit-tooltip {
				display: inline;
			}

			.kit-badge {
				display: none;
			}
		}

	&_finished {
		color: #999;

		.kit-stock-item__name {
			color: #999;
		}

		svg {
			fill: #999;
		}
	}
}

.kit-stock-item__promo {
	width: 471.5px;
	display: flex;
	align-items: center;
	padding-left: 22px;
}

.kit-stock-item__promo-title-wrap {
	display: flex;
	align-items: center;
	margin: 0;
	margin-right: 8px;
	min-width: 150px;
}

.kit-stock-item__promo-title {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-left: 26px;

	&_no-sale {
		color: #999;
	}
}

.kit-stock-item__title-wrap {
	position: relative;
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding: 11px 16px 11px 38px;
	width: calc(100% - 471.5px);
	border-right: 1px solid #d8d8d8;
}

.kit-stock-item__sale {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;

	&_no-sale {
		color: #999;
	}
}

.kit-stock-item__name {
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 5px;
	text-overflow: ellipsis;
	color: #265378;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
}

.kit-stock-item__action-dropdown {
	margin-right: 10px;
}
