// Color
$errorColoBg: #ffeeeb;
$errorColoBorder: #ddaaa2;

.kit-date-field {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 114px;
	height: 29px;
	padding-right: 25px;
	padding-left: 9px;
	background-color: #ffffff;
	border: 1px solid #b0b2b5;
	border-radius: 2px;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;

	&_disabled {
		opacity: 0.35;
	}

	&_no-shadow {
		border: 1px solid #c5d6e1;
		box-shadow: none;
	}

	&_error {
		background-color: $errorColoBg;
		border-color: $errorColoBorder;
	}

	&_block {
		width: 100%;
	}

	&__input {
		width: 100%;
		height: 100%;
		padding-right: 0;
		padding-left: 0;
		background: none;
		border: none;
		outline: none;
		font-family: "PT Sans", sans-serif;
		font-size: 14px;
		color: #000000;
	}

	&__icon {
		position: absolute;
		top: 3px;
		right: 3px;
		transform: scale(0.8);
	}

	&__drop {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9;
		width: 239px;
		margin-top: 1px;
		background-color: #fffcf0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-out;

		&_open {
			visibility: visible;
			opacity: 1;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		padding: 0 10px;
		border-bottom: 1px solid #d4d4d4;
	}

	&__select {
		width: 82px;
	}

	&__nav {
		position: relative;
		display: block;
		width: 18px;
		height: 18px;
		padding: 0;
		background: none;
		border: 1px solid #000000;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}

		&::after {
			position: absolute;
			top: 4px;
			left: 1px;
			display: block;
			border: 4px solid transparent;
			border-right: 4px solid #000000;
			content: "";
		}

		&_next {
			transform: rotate(180deg);
		}
	}

	&__calendar {
		display: flex;
		flex-wrap: wrap;
		padding-top: 7px;
		padding-left: 2px;
		padding-bottom: 3px;
	}

	&__day {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 33px;
		padding-right: 7px;
		padding-bottom: 2px;
		box-sizing: border-box;
		font-size: 13px;
		font-weight: bold;
		color: #000000;
		text-align: right;
	}

	&__date {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 33px;
		height: 32px;
		padding-right: 7px;
		padding-bottom: 1px;
		border: 1px solid transparent;
		border-radius: 3px;
		box-sizing: border-box;
		font-size: 13px;
		color: #000000;
		cursor: pointer;

		&:hover {
			border-color: #dddddd;
		}

		&_current {
			background-color: #e2eaf0;
			border-color: #8aacc2;
		}

		&_active {
			background-color: #ffffff;
			border-color: #dddddd;
		}

		&_old {
			opacity: 0.6;
		}
	}
}
