.kit-date-field {
    position: relative;
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
    padding-left: 9px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    width: 114px;
    height: 29px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #b0b2b5;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    &_disabled {
        opacity: 0.35;
    }

    &__input {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        height: 100%;
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
        color: #000;
        border: none;
        outline: none;
        background: none;
    }

    &__icon {
        position: absolute;
        top: 3px;
        right: 3px;
        transform: scale(0.8);
    }

    &__drop {
        position: absolute;
        z-index: 9;
        top: 100%;
        left: 0;
        margin-top: 1px;
        visibility: hidden;
        width: 239px;
        background-color: #fffcf0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.3s ease-out;

        &_open {
            visibility: visible;
            opacity: 1;
        }
    }

    &__head {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        border-bottom: 1px solid #d4d4d4;
    }

    &__select {
        width: 82px;
    }

    &__nav {
        position: relative;
        padding: 0;
        display: block;
        width: 18px;
        height: 18px;
        cursor: pointer;
        background: none;
        border: 1px solid #000;
        border-radius: 50%;

        &:hover {
            opacity: 0.7;
        }

        &::after {
            position: absolute;
            top: 4px;
            left: 1px;
            display: block;
            content: "";
            border: 4px solid transparent;
            border-right: 4px solid #000;
        }

        &_next {
            transform: rotate(180deg);
        }
    }

    &__calendar {
        padding-top: 7px;
        padding-left: 2px;
        padding-bottom: 3px;
        display: flex;
        flex-wrap: wrap;
    }

    &__day {
        padding-right: 7px;
        padding-bottom: 2px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 33px;
        font-size: 13px;
        font-weight: bold;
        text-align: right;
        color: #000;
    }

    &__date {
        padding-bottom: 1px;
        padding-right: 7px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 33px;
        height: 32px;
        font-size: 13px;
        color: #000;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            border-color: #ddd;
        }

        &_current {
            background-color: #e2eaf0;
            border-color: #8aacc2;
        }

        &_active {
            background-color: #fff;
            border-color: #ddd;
        }

        &_old {
            opacity: 0.6;
        }
    }
}
