.kit-filter-editor-component__btn {
	width: 100%;
	outline: none;

	.kit-button__text {
		color: #000;
	}
}

.kit-filter-editor-component__buttons {
	display: flex;
	outline: none;
}

.kit-filter-editor-component__cancel {
	width: auto;
	min-width: 113px;
	margin-left: 10px;
}
