@mixin createHorisontalBrackets($left: -16px, $top: 17px) {
	&::after {
		position: absolute;
		top: $top;
		left: $left;
		z-index: 2;
		width: 13px;
		border-top: 2px solid $braketColor;
		pointer-events: none;
		content: "";
		transform: translateY(-1px);
	}
}

@mixin removeHorisontalBrackets() {
	&::after {
		content: none;
	}
}

@mixin changeHorisontalBracketsColor($color) {
	& ~ .kit-filtration-group__buttons,
	& ~ .kit-filtration-condition,
	&
		~ .kit-filtration-group
		> .kit-filtration-group__label-line
		.kit-filtration-group__label-line-horizontal {
		&::after {
			border-top-color: $color;
		}
	}
}

@mixin changeHorisontalBracketsOpacity($opacity) {
	> .kit-filtration-group__label {
		& ~ .kit-filtration-group__buttons,
		& ~ .kit-filtration-condition {
			&::after {
				opacity: $opacity;
			}
		}
	}

	> .kit-filtration-group__label {
		& ~ .kit-filtration-group {
			.kit-filtration-group__label-line
				.kit-filtration-group__label-line-horizontal {
				&::after {
					opacity: $opacity;
				}
			}
		}
	}

	> .kit-filtration-group__label {
		&
			~ .kit-filtration-group__label-line
			.kit-filtration-group__label-line-vertical {
			opacity: $opacity;
		}
	}
}

@mixin createVerticalSmallBracket() {
	> .kit-filtration-condition > .kit-filtration-group {
		> .kit-filtration-condition:first-of-type,
		> .kit-filtration-group__buttons,
		&.kit-filtration-group_not-children {
			&::before {
				position: absolute;
				top: 0;
				left: 4px;
				z-index: 3;
				display: block;
				width: 2px;
				height: #{$minHeight / 2};
				background-color: $braketColor;
				pointer-events: none;
				content: "";
			}
		}

		> .kit-filtration-group__buttons {
			&::before {
				left: -16px;
			}
		}
	}
}

@mixin changeColorVerticalSmallBracket($color) {
	& ~ .kit-filtration-condition:first-of-type,
	& ~ .kit-filtration-group__buttons {
		&::before {
			background-color: $color !important;
		}
	}
}

@mixin changeVerticalSmallBracketOpacity($opacity) {
	> .kit-filtration-condition {
		&::before {
			opacity: $opacity;
		}
	}
}
