@mixin createHorisontalBrackets($left: -16px, $top: 17px) {
	&::after {
		content: "";
		position: absolute;
		top: $top;
		left: $left;
		width: 13px;
		border-top: 2px solid $braketColor;
		z-index: 2;
		transform: translateY(-1px);
		pointer-events: none;
	}
}

@mixin removeHorisontalBrackets() {
	&::after {
		content: none;
	}
}

@mixin changeHorisontalBracketsColor($color) {
	& ~ .kit-filtration-group__buttons {
		&::after {
			border-top-color: $color;
		}
	}
}
