.button {
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 97px;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover:not(:disabled) {
        background-color: #c1d0dc;
    }

    &:disabled {
        cursor: auto;
        opacity: 0.35;
    }

    &_color-gray {
        background-color: #e2eaf0;
        color: #000;

        &:hover:not(:disabled) {
            background-color: darken($color: #e2eaf0, $amount: 8%);
        }
    }

    &_color-lightgray {
        background-color: #f2f2f2;
        color: #265378;

        &:hover:not(:disabled) {
            background-color: darken($color: #f2f2f2, $amount: 8%);
            color: darken($color: #265378, $amount: 18%);
        }
    }

    &_size-xs {
        height: 23px;
        padding-top: 0;
        padding-left: 9px;
        padding-right: 9px;
        font-size: 12px;
    }

    &_size-small {
        height: 24px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 14px;
    }

    &_size-medium {
        height: 28px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
    }

    &_size-normal {
        height: 32px;
        padding-top: 2px;
        padding-left: 11px;
        padding-right: 11px;
        font-size: 14px;
    }

    &_size-large {
        height: 38px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 36px;
        padding-right: 36px;
        font-size: 16px;
    }

    &_size-large:disabled {
        color: #e2eaf0;
        cursor: default;
        opacity: 0.5;
    }

    &_hasBorder {
        border-color: #8aacc2;

        &:hover:not(:disabled) {
            border-color: darken($color: #8aacc2, $amount: 8%);
        }
    }

    &_danger {
        color: #a12e1e;
        border-color: #a12e1e;
        background-color: rgba(255, 240, 238, 0.5);

        &:hover:not(:disabled) {
            border-color: darken($color: #a12e1e, $amount: 18%);
            color: darken($color: #a12e1e, $amount: 18%);
            background-color: darken($color: rgba(255, 240, 238, 0.5),
                $amount: 8%);
        }
    }

    &_inherit-font {
        font-size: inherit;
        vertical-align: baseline;
    }

    &_has-icon {
        padding-right: 24px;
    }

    &__text_hasUnderline {
        color: #265378;
        border-bottom: 1px dashed #265378;
    }

    &__icon {
        margin-top: -2px;
        margin-right: 4px;
        margin-left: -10px;
        width: 18px;
        max-width: 18px;
        height: 18px;
        max-height: 18px;
        transform: scale(0.9);
    }
}