.kit-breadcrumb {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 0;
	margin-bottom: 5px;
	padding: 21px 30px 11px 5px;
	background-color: #f3f3eb;
	border: 1px dashed #d4d4d4;
	border-radius: 4px;
	box-shadow: 5px 5px 0 0 #e6e6dd;

	&::after {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		width: 100%;
		height: 100%;
		border-right: 1px dashed #d4d4d4;
		border-bottom: 1px dashed #d4d4d4;
		border-radius: 4px;
	}
}

.kit-breadcrumb__item {
	position: relative;
	z-index: 1;
	margin-bottom: 12px;
	margin-left: 27px;
	list-style: none;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 12px;
		left: -17px;
		width: 8px;
		height: 11px;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23333' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: auto;
	}

	&::after {
		right: -18px;
		left: auto;
		pointer-events: none;
	}

	&:last-child {
		&::after {
			content: "";
			position: absolute;
			top: 15px;
			right: -20px;
			width: 8px;
			height: 11px;
			background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9l4-4-4-4' stroke='%23333' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: auto;
			transform: rotate(90deg);
		}
	}
}

.kit-breadcrumb__btn {
	padding: 7px 13px 8px;
	background-color: #ffffff;
	border: 0;
	border-radius: 4px;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #265378;
	cursor: pointer;
	appearance: none;

	&:focus {
		outline: none;
		box-shadow: 0 0 5px grey;
	}
}
