.kit-filter-editor-component__buttons {
	display: flex;
	outline: none;
}

.kit-filter-editor-component__buttons-item {
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}
}

.kit-filter-editor-component__buttons-item--add {
	width: 100%;

	button {
		width: 100%;
	}
}
