// Colors
$error: #ffeeeb;

.kit-block-invalid-high-light {
	position: relative;
	display: inline-block;
	padding-right: 3px;
	padding-left: 3px;
	background-color: $error;
	border-radius: 4px;
	line-height: 17px;
	color: #000000;

	> span {
		position: relative;
		z-index: 1;
	}
}
