@import '../variables';

.kit-detalization-table {
    width: 100%;
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;

    &__header {
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 900;
        border-bottom: 1px solid #d4d4d4;
    }

    &__row {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: $tablet) {
            justify-content: flex-start;
        }
    }

    &__signature {
        width: 326px;
        font-size: 13px;
        line-height: 1.15;
        color: #999999;

        @media (max-width: $tablet) {
            width: auto;
        }
    }

    &__value {
        text-align: right;
        flex: 1 0 auto;
    }

    &__col {
        margin-right: 30px;
    }
}