@import '../variables';

.kit-detalization-table {
    width: 100%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;

    &__header {
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 1px solid #d4d4d4;
        font-size: 14px;
        font-weight: 900;
        display: flex;
    }

    &__row {
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 18px;
        display: flex;

        @media (max-width: $tablet) {
            justify-content: flex-start;
        }
    }

    &__signature {
        width: 326px;
        font-size: 13px;
        line-height: 1.15;
        color: #999999;

        @media (max-width: $tablet) {
            width: auto;
        }
    }

    &__value {
        flex: 1 0 auto;
        text-align: right;
    }

    &__col {
        margin-right: 30px;
    }
}