.kit-breadcrumb-list {
  position: relative;
  margin: 0;
  padding: 21px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: #F3F3EB;
  border-radius: 4px;
  border: 1px dashed #D4D4D4;
  box-shadow: 5px 5px 0 0 #E6E6DD;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 100%;
    width: 100%;
    border-bottom: 1px dashed #D4D4D4;
    border-right:  1px dashed #D4D4D4;
    border-radius: 4px;
  }
}
