.kit-page {
	position: relative;
	min-height: 100vh;
	padding-bottom: 53px;
	background-color: #fafaf7;

	&__container {
		width: 100%;
		max-width: 1100px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px;
	}

	&__title {
		width: 628px;
	}

	&__description {
		width: 909px;
	}

	&__header {
		height: 50px;
		background-color: #ffffff;
		border-top: 1px solid #d4d4d4;
		border-bottom: 1px solid #d4d4d4;
		box-sizing: border-box;
		display: flex;
	}

	&__head-inner {
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		display: flex;
	}

	&__button {
		margin-left: 9px;
		outline: none;

		&:last-child {
			margin-left: 373px;
		}
	}

	&__content {
		padding-top: 28px;
		padding-bottom: 143px;
	}

	&__content-head {
		padding-bottom: 15px;
	}

	&__tag {
		padding-top: 3px;
	}

	&__footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 53px;
		border-top: 1px solid #d4d4d4;
	}
}

// ============
// Стили для фронта
// ============
.header-kit-filters {
	padding: 14px 0 0;
}

.ui-kit-filter-container {
	max-width: 1600px;
	margin: 0px auto;
	padding: 0 70px;
}

.ui-kit-header_ribbon {
	position: relative;
	z-index: 10;
}

.ui-kit-header_rubber {
	&.header_rubber {
		overflow: visible;
	}
}

*::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 100px;
}

*::-webkit-scrollbar {
	width: 12px;
	background-color: #fafafa;
}

*::-webkit-scrollbar-thumb {
	background-color: #c2c2c2;
	border: 2px solid #fafafa;
	border-radius: 10px;
	box-shadow: none;
}

.tabs-content,
.form-controls,
.dialog-main {
	.header {
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;

		&:last-child,
		&:nth-last-child(2):not(.header_message) {
			padding-bottom: 0;
		}
	}

	.ui-kit-filter-container {
		max-width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
}

.overflow-visible {
	overflow: visible;
}
