.kit-tab {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed #265378;
    outline: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #265378;
    cursor: pointer;


    &_selected {
        border-bottom: none;
        font-weight: 900;
        color: #333333;
    }
}