.kit-alert {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 90%;
	max-width: 1000px;
	min-height: 44px;
	margin: 0 auto;
	padding: 9px 20px 8px;
	background-color: #FFFAED;
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.36);
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;

	&:not(:last-of-type) {
		display: none;
	}
}
