.textLine {
    font-family: "PT Sans", sans-serif;
    position: relative;
    color: #333;
    font-size: 14px;

    &__title {
        position: relative;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: normal;
        color: #000;
        font-size: 26px;
    }

    &__description {
        position: relative;
        display: inline-block;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    &__input-box {
        position: relative;
        display: flex;
    }

    &__input {
        width: 100%;
        margin-top: 0;
        margin-bottom: 8px;
        padding-left: 10px;
        padding-right: 178px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 4px;
        border: 2px solid #a0ba82;
        font-size: 14px;
        box-sizing: border-box;
    }

    &__signature {
        position: absolute;
        right: 10px;
        top: 0;
        height: 32px;
        font-size: 14px;
        line-height: 33px;
        color: #888;
        opacity: 0.5;
    }

    &__button {
        position: absolute;
        top: 8px;
        right: -35px;
        padding: 0;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &:hover {
            opacity: 0.7;
        }
    }
}