$mobile-large: 414px;
$tablet: 640px;
$tablet-medium: 768px;
$tablet-large: 1024px;
// $desktop: 1366px;
// $desktop-large: (min-width: 1600px);
// $desktop-extra-large: (min-width: 1921px);


// $retina: (-webkit-min-device-pixel-ratio: 2),
// (min-resolution: 192dpi);
// $ie: (-ms-high-contrast: active),
// (-ms-high-contrast: none);