.kit-detalization {
    width: 100%;
    display: flex;
    font-family: "PT Sans", sans-serif;
    color: #333333;
    border: 1px solid #d4d4d4;
    border-radius: 4px;

    &__left-content {
        flex-grow: 1;
        padding-top: 33px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 18px;
        box-sizing: border-box;
        border-right: 1px solid #d4d4d4;
    }

    &__table {
        margin-bottom: 18px;
        padding-left: 24px;
        padding-right: 24px;
    }

    &__yellow-table {
        margin-bottom: 18px;
    }

    &__rows {
        padding-left: 24px;
        padding-right: 24px;
    }

    &__row:not(:last-child) {
        margin-bottom: 14px;
    }

    &__total-box {
        width: auto;
        margin-top: 15px;
        margin-left: 24px;
        margin-right: 24px;
    }

    &__right-content {
        flex: 1 0 auto;
        padding-top: 15px;
    }

    &__details {
        padding-top: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 22px;
        border-bottom: 1px solid #d4d4d4;
    }

    &__statistics {
        padding-top: 28px;
        padding-left: 30px;
        padding-right: 30px;
    }
}