@import "../variables";

.kit-detalization {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    overflow: hidden;
    font-family: "PT Sans", sans-serif;
    color: #333333;

    @media (max-width: $tablet-large) {
        flex-direction: column;
    }

    &__left-content {
        flex-grow: 1;
        padding-top: 33px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 18px;
        border-right: 1px solid #d4d4d4;
        box-sizing: border-box;

        @media (max-width: $tablet-large) {
            border-right: none;
        }

        @media (max-width: $mobile-large) {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    &__table {
        margin-bottom: 18px;
        padding-right: 24px;
        padding-left: 24px;

        @media (max-width: $tablet) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__yellow-table {
        margin-bottom: 18px;
    }

    &__rows {
        padding-right: 24px;
        padding-left: 24px;

        @media (max-width: $tablet) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__row:not(:last-child) {
        margin-bottom: 14px;
    }

    &__total-box {
        width: auto;
        margin-top: 15px;
        margin-right: 24px;
        margin-left: 24px;

        @media (max-width: $tablet) {
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__right-content {
        flex: 1 0 auto;
        padding-top: 15px;

        @media (max-width: $tablet-large) {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            padding-top: 0;
            border-top: 1px solid #d4d4d4;
        }

        @media (max-width: $tablet-medium) {
            margin-top: 12px;
        }

        @media (max-width: $tablet) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__details-box {
        display: block;

        @media (max-width: $tablet-large) {
            order: 2;
            border-left: 1px solid #d4d4d4;
        }

        @media (max-width: $tablet) {
            border-top: 1px solid #d4d4d4;
            border-left: none;
        }
    }

    &__details {
        padding-top: 18px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 22px;
        border-bottom: 1px solid #d4d4d4;

        @media (max-width: $tablet-large) {
            height: 50%;
            padding-top: 28px;
            padding-right: 54px;

            & + & {
                border-bottom: none;
            }
        }

        @media (max-width: $tablet) {
            padding-right: 30px;
            padding-left: 30px;
        }

        @media (max-width: $mobile-large) {
            padding-right: 20px;
            padding-left: 20px;
        }

        &:last-child {
            @media (max-width: $tablet) {
                border-bottom: none;
            }
        }
    }

    &__statistics {
        padding-top: 28px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 28px;

        @media (max-width: $tablet-large) {
            width: auto;
            padding-right: 54px;
            padding-left: 54px;
            padding-bottom: 28px;
        }

        @media (max-width: $tablet) {
            padding-right: 30px;
            padding-left: 30px;
        }

        @media (max-width: $mobile-large) {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}
