.kit-promotion-edit-container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 11px 32px 15px;
	background-color: #fffaed;
	border: 2px solid #a0ba82;
	border-radius: 6px;
}

.kit-promotion-edit-container__header {
	margin: 0 -32px 25px;
	padding: 0 32px 10px;
	border-bottom: 1px solid #d8d8d8;
}

.kit-promotion-edit-container__footer {
	margin: 19px -32px 0;
	padding: 15px 32px 0;
	border-top: 1px solid #d8d8d8;
}

.kit-promotion-edit-container__close {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	appearance: none;
}

.kit-promotion-edit-container__close-icon {
	width: 13px;
	height: 12px;
	padding: 10px;
}
