.kit-filter-editor-btn {
	position: relative;
	padding: 3px 24px;
	border-radius: 4px 0 0 4px;
	color: #265378;
	text-align: center;
	border: 1px solid #c7d8e2;
	background-color: #f1f5f8;
	font-size: 13px;
	line-height: 18px;
}
