// Colors
$textColor: #265378;
$borderColor: #c7d8e2;
$borderDisableColor: #6f99b4;
$bgColor: #f1f5f8;
$bgDisableColor: #c1d0dc;
$bgColorOpen: #3875d7;

.kit-filter-editor {
	position: relative;
}

.kit-filter-editor__btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	min-height: 21px;
	margin: 0;
	padding: 0 24px;
	border-radius: 4px;
	color: $textColor;
	text-align: center;
	border: 1px solid $borderColor;
	background-color: $bgColor;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	outline: none;
	cursor: pointer;
	transition: color 0.15s, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;

	&_open {
		color: #fff;
		background-color: $bgColorOpen;
		border-color: $bgColorOpen;
	}

	&:hover:not(:disabled) {
		color: $textColor;
		background-color: $bgDisableColor;
		border-color: darken($color: $borderDisableColor, $amount: 8%);
	}

	&:disabled {
		cursor: auto;
		opacity: 0.35;
	}
}
