// Colors
$textColor: #265378;
$borderColor: #c7d8e2;
$borderDisableColor: #6f99b4;
$borderHoverColor: #5897fb;
$bgColor: #f1f5f8;
$bgDisableColor: #c1d0dc;
$bgHoverColor: #e2eaf0;
$bgColorOpen: #3875d7;

.kit-filter-editor {
	position: relative;

	.kit-filter-condition-selector {
		position: absolute;
		top: 100%;
		left: 0;
	}
}

.kit-filter-editor__btn {
	position: relative;
	align-items: center;
	min-height: 22px;
	margin: 0;
	padding: 0 23px;
	background-color: $bgColor;
	border: 1px solid $borderColor;
	border-radius: 4px;
	outline: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: $textColor;
	text-align: center;
	cursor: pointer;
	display: inline-flex;
	transition: color 0.15s, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;

	&_open {
		background-color: $bgColorOpen;
		border-color: $bgColorOpen;
		color: #ffffff;
	}

	&:hover:not(:disabled),
	&:focus:not(:disabled) {
		background-color: $bgHoverColor;
		border-color: $borderHoverColor;
		color: $textColor;
	}

	&:disabled {
		cursor: auto;
		opacity: 0.35;
	}

	svg {
		margin-right: 5px;
	}
}
