.row {
    display: flex;
    width: 100%;
    align-items: baseline;
    margin-top: 14px;
    margin-bottom: 14px;

    &_isEdit {
        border-bottom: 1px solid #d4d4d4;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }
}