.row {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;

    &_edit {
        align-items: flex-start;
        border-bottom: 1px solid #d4d4d4;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 14px;
        padding-bottom: 15px;
    }

    &__content {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-grow: 1;
        font-size: 14px;
        
        &_error {
            font-style: italic;
            color: #a12e1e;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__name {
        width: 154px;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "PT Sans", sans-serif;
        overflow: hidden;
        position: relative;
        color: #888;
        font-size: 14px;

        &::after {
            position: absolute;
            content: '';
            border-bottom: 1px dashed #d4d4d4;
            width: 100%;
            bottom: 4px;
        }
    }
    
    &__name-text {
        position: relative;
        max-width: 100px;
        background-color: #fff;
        z-index: 1;
    }

    &_edit &__name {
        box-sizing: border-box;
        padding-top: 5px;
        min-width: 210px;
        padding-right: 15px;

        &::after {
            display: none;
        }
    }
    
    &_edit &__name-text {
        background-color: transparent;
        color: #000;
    }

    &__text {
        padding-top: 5px;
    }  

    &__desc {
        margin-top: 7px;
        margin-bottom: -4px;
        font-size: 13px;
        width: 100%;

        &_danger {
            font-weight: bold;
            color: #a12e1e
        }
    }

    &__control {
        margin-right: 8px;
    }
    
    &__select {
        width: 378px;
    }

    &__select-checked {
        width: 378px;

        &:last-child {
            margin-top: 15px;
        }
    }

    &__submit {
        width: 210px;
    }

    &__footer {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    &__small-filter {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #f0ece4;
        border-radius: 3px;

        &_bottom {
            margin-top: 14px;
        }
    }

    &__filter-inner {
        width: 250px;
    }

    &__control-filter:last-child {
        margin-top: 14px;
    }

    &__filter {
        width: 100%;
        height: 283px;
        background-color: #fff;
        border: 1px solid #f0ece4;
        border-radius: 3px;

        &_bottom {
            margin-top: 14px;
        }
    }

    &__action {
        width: 379px;
        margin-right: 10px;

        &:nth-child(2) {
            width: 278px;
        }

        &:nth-child(3) {
            width: auto;
        }
    }

    &__action-filter {
        margin-top: 15px;
        width: 667px;
        height: 149px;
        background-color: #fff;
        border: 1px solid #f0ece4;
        border-radius: 2px;
    }

    &__remove {
        position: absolute;
        top: 6px;
        right: -9px;
        padding: 0;
        width: 13px;
        height: 18px;
        cursor: pointer;
        background: none;;
        border: none;
    }

    &__input {
        width: 40px;
    }
}
