.row {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 100%;

    &_edit {
        align-items: flex-start;
        border-bottom: 1px solid #d4d4d4;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 14px;
        padding-bottom: 15px;
    }

    &__content {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        font-size: 14px;
        
        &_error {
            font-style: italic;
            color: #a12e1e;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__name {
        width: 154px;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "PT Sans", sans-serif;
        overflow: hidden;
        position: relative;
        color: #888;
        font-size: 14px;

        &::after {
            position: absolute;
            content: '';
            border-bottom: 1px dashed #d4d4d4;
            width: 100%;
            bottom: 4px;
        }
    }
    
    &__name-text {
        position: relative;
        max-width: 100px;
        background-color: #fff;
        z-index: 1;
    }

    &__text {
        padding-top: 5px;
    }

    &_edit &__name {
        padding-top: 5px;
        min-width: 210px;
    
        &::after {
            display: none;
        }
    }
    
    &_edit &__name-text {
        background-color: transparent;
        color: #000;
    }

    &__desc {
        margin-top: 7px;
        margin-bottom: -4px;
        font-size: 13px;
        width: 100%;

        &_danger {
            font-weight: bold;
            color: #a12e1e
        }
    }

    &__segment {
        margin-right: 8px;
    }

    &__select {
        width: 349px;

        &_long {
            width: 378px
        }
    }

    &__submit {
        width: 210px;
    }

    &__footer {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    &__extended-ecent {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #f0ece4;
        border-radius: 3px;
    }

    &__extended-inner {
        width: 250px;
    }

    &__filter {
        width: 100%;
        height: 283px;
        background-color: #fff;
        border: 1px solid #f0ece4;
        border-radius: 3px;
    }
}
