.kit-time-field {
    font-family: "PT Sans", sans-serif;
    position: relative;
    box-sizing: border-box;
    padding-left: 9px;
    display: inline-flex;
    align-items: center;
    width: 72px;
    height: 29px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #b0b2b5;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;

    &_disabled {
        opacity: 0.35;
    }

    &__outer {
        display: inline-block;
        position: relative;
    }

    &_wrapper {
        width: 72px;

        &-open {
            border-color: #d4d4d4;
            background-color: #f2f2f2;

            &::after {
                position: absolute;
                top: -9px;
                bottom: -9px;
                left: -11px;
                right: -11px;
                border: 2px solid #d4d4d4;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
                background-color: #f2f2f2;
                content: '';
            }
        }
    }

    &__select {
        position: absolute;
        z-index: 1;
        top: 4px;
        left: 9px;
        background-color: #335DFF;
        width: 38px;
        height: 18px;
        visibility: hidden;
        opacity: 0;

        &_show {
            visibility: visible;
            opacity: 0.9;
        }
    }

    &__input {
        position: relative;
        z-index: 2;
        padding-right: 0;
        padding-left: 0;
        width: 40px;
        height: 16px;
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
        text-align: left;
        color: #000;
        border: none;
        outline: none;
        background: none;

        &_selected {
            color: #fff;
        }
    }

    &__controls {
        margin-left: 3px;
        padding-top: 1px;
        display: flex;
        flex-direction: column;
    }

    &__button {
        padding: 0;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
    }

    &_disabled &__button {
        cursor: default;
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8px;
        height: 8px;

        &::after {
            margin-top: -3px;
            display: block;
            content: "";
            border: 3px solid transparent;
            border-bottom: 4px solid #000;
        }

        &_down::after {
            margin-top: 0;
            border-bottom: 3px solid transparent;
            border-top: 4px solid #000;
        }
    }

    &__drop-down {
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        top: 38px;
        left: -11px;
        width: 94px;
        display: flex;
        height: 318px;
        background-color: #f2f2f2;
        border-bottom: 2px solid #d4d4d4;
        border-right: 2px solid #d4d4d4;
        border-left: 2px solid #d4d4d4;
        z-index: 10;
        list-style: none;

        &_list {
            position: absolute;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 0;
            margin: 0;
            padding-right: calc(50% + 15px);

            &:last-child {
                border-left: 2px solid #d4d4d4;
                left: 50%;
                padding-right: 15px;
            }
        }

        &_item {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 14px;
            padding-right: 14px;
            font-family: "PT Sans", sans-serif;
            font-size: 14px;
            background: none;
            border: none;
            cursor: pointer;

            &-selected {
                background-color: #fff;
                font-weight: bold;
            }
        }
    }
}

// .element::-webkit-scrollbar {
//     width: 0;
// }

// /* ie 10+ */
// .element {
//     -ms-overflow-style: none;
// }

// /* фф (свойство больше не работает, других способов тоже нет)*/
// .element {
//     overflow: -moz-scrollbars-none;
// }