.kit-module {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 220px;
    padding-top: 24px;
    padding-bottom: 56px;
    padding-left: 28px;
    padding-right: 28px;
    font-family: "PT Sans", sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;

    &__name,
    &__text,
    &__signature {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__name {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__text {
        margin-bottom: auto;
        font-size: 13px;
        line-height: 1.15;
        color: #999999;
    }

    &__signature {
        margin-bottom: 3px;
        font-size: 13px;
        color: #333333;
    }

    &__price {
        font-size: 16px;
        color: #333333;
    }

    &__button {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: calc(100% + 2px);
        margin-left: -1px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 13px;
        border: 1px solid #8aacc2;
        background-color: #e2eaf0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }
}