.icon {
    width: 22px;
    height: 22px;
    background-image: url(../../base/icons/icons.png);
    background-size: 400px;

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: url(../../base/icons/icons@2x.png);
    }

    &_play {
        background-position: -120px -80px;
    }

    &_pause {
        background-position: -200px -80px;
    }

    &_edit {
        background-position: -80px -160px;
        background-image: url(../../base/icons/icons-state.png);

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background-image: url(../../base/icons/icons-state@2x.png);
        }
    }
}