.time-field {
    font-family: "PT Sans", sans-serif;
    position: relative;
    box-sizing: border-box;
    padding-left: 5px;
    display: flex;
    align-items: center;
    width: 72px;
    height: 29px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #b0b2b5;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;

    &_disabled {
        opacity: 0.35;
    }

    &_wrapper {
        border: 2px solid transparent;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        width: 72px;
        padding: 9px;

        &-open {
            border-color: #d4d4d4;
            background-color: #f2f2f2;
        }
    }

    &__input {
        padding-right: 0;
        padding-left: 0;
        width: 20px;
        height: 16px;
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
        text-align: right;
        color: #000;
        border: none;
        outline: none;
        background-color: #fff;

        &_minutes {
            text-align: left;
        }
    }

    &__dots {
        margin-top: -2px;
        width: 4px;
        cursor: default;
    }

    &__controls {
        margin-left: 3px;
        padding-top: 1px;
        display: flex;
        flex-direction: column;
    }

    &__button {
        padding: 0;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
    }

    &_disabled &__button {
        cursor: default;
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8px;
        height: 8px;

        &::after {
            margin-top: -3px;
            display: block;
            content: '';
            border: 3px solid transparent;
            border-bottom: 4px solid #000;
        }

        &_down::after {
            margin-top: 0;
            border-bottom: 3px solid transparent;
            border-top: 4px solid #000;
        }
    }

    &__drop-down {
        box-sizing: border-box;
        position: absolute;
        width: 94px;
        display: flex;
        height: 318px;
        background-color: #f2f2f2;
        border-bottom: 2px solid #d4d4d4;
        border-right: 2px solid #d4d4d4;
        z-index: 10;
        list-style: none;

        &_list {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            border-left: 2px solid #d4d4d4;
            padding: 0;
            margin: 0;
        }

        &_item {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 14px;
            padding-right: 14px;
            cursor: pointer;

            &-selected {
                background-color: #fff;
                font-weight: bold;
            }
        }
    }
}
