.time-field {
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
    padding-left: 5px;
    display: flex;
    align-items: center;
    width: 72px;
    height: 29px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #b0b2b5;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    &__input {
        padding-right: 0;
        padding-left: 0;
        width: 20px;
        height: 16px;
        font-family: "PT Sans", sans-serif;
        font-size: 14px;
        text-align: right;
        color: #000;
        border: none;
        outline: none;

        &_minutes {
            text-align: left;
        }
    }

    &__dots {
        margin-top: -2px;
        width: 4px;
    }

    &__controls {
        margin-left: 3px;
        padding-top: 1px;
        display: flex;
        flex-direction: column;
    }

    &__button {
        padding: 0;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8px;
        height: 8px;

        &::after {
            margin-top: -3px;
            display: block;
            content: '';
            border: 3px solid transparent;
            border-bottom: 4px solid #000;
        }

        &_down::after {
            margin-top: 0;
            border-bottom: 3px solid transparent;
            border-top: 4px solid #000;
        }
    }
}
