.kit-input-field-wrap {
	position: relative;
}

.kit-input-field {
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    width: 100%;
    height: 29px;
	font-size: 14px;
	line-height: 19px;
    background-color: #fff;
    border: 1px solid #b0b2b5;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    outline: none;

	&::placeholder {
		font-size: 14px;
		line-height: 19px;
		color: #999;
	}

	&_no-shadow {
		box-shadow: none;
	}

	&_search {
		padding-right: 35px;
		padding-left: 10px;
		border: 1px solid #C5D6E1;
	}
}

.kit-input-field__icon {
	position: absolute;
	top: 3px;
	right: 9px;
}
