.kit-input-field-wrap {
	position: relative;
}

.kit-input-field {
	display: block;
	width: 100%;
	height: 29px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #ffffff;
	border: 1px solid #b0b2b5;
	border-radius: 2px;
	outline: none;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&::-webkit-search-decoration {
		display: none;
	}

	&::placeholder {
		font-size: 14px;
		color: #999999;
	}

	&_no-shadow {
		border: 1px solid #c5d6e1;
		box-shadow: none;
	}

	&_search {
		padding-right: 35px;
		border-radius: 2px;
	}

	&_size_small {
		height: 26px;
		padding-right: 5px;
		padding-left: 5px;
		font-size: 13px;
	}

	&_search#{&}_size_small {
		padding-right: 27px;
	}

	&_error {
		background-color: #ffeeeb;
		border-color: #ddaaa2;
	}
}

.kit-input-field__icon {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 22px;
	height: 22px;
	pointer-events: none;
	cursor: default;
	fill: #999999;

	.kit-input-field_no-shadow + & {
		fill: #265378;
	}

	.kit-input-field_size_small + & {
		top: 5px;
		right: 6px;
		width: 17px;
		height: 17px;
	}
}
