.kit-input-field {
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    width: 100%;
    height: 29px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #b0b2b5;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    outline: none;

	&_no-shadow {
		box-shadow: none;
	}
}
