$mainColor: #3875d7;

.kit-flat-selector {
	display: flex;
	box-sizing: border-box;

	> *:not(:last-child) {
		margin-right: 10px;
	}
}

.kit-flat-selector__item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	height: 28px;
	padding: 0 10px;
	background-color: #ffffff;
	border: solid 1px rgba($mainColor, 0.15);
	border-radius: 4px;
	outline: none;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 1.07;
	color: $mainColor;
	white-space: nowrap;
	transition: color 0.15s, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
	cursor: pointer;

	&:hover {
		border-color: rgba($mainColor, 1);
	}

	&_selected {
		background-color: $mainColor;
		color: #ffffff;
	}
}
