name: Cleanup Docs after branch deleted
on:
  delete

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Set variables
      run: |
        echo "##[set-output name=deleted_branch;]$(cat $GITHUB_EVENT_PATH | jq '.ref' | sed 's/\"//g')"
      id: set_variables

    - name: Checkout the repository
      uses: actions/checkout@v2

    - name: Transform branch name
      run: echo "##[set-output name=branch;]$(echo $EXT_BRANCH_NAME | sed 's/refs\/heads\///g' | sed 's/[_.\/]/-/g')"
      id: transform_branch
      env:
        EXT_BRANCH_NAME: ${{ steps.set_variables.outputs.deleted_branch }}

    - name: Get branch name hash
      run: echo "##[set-output name=hash_payload;]$(echo $BRANCH | md5sum | sed 's/  -//g')"
      id: branch_hash
      env:
        BRANCH: ${{ steps.transform_branch.outputs.branch }}

    - name: Remove docker image
      run: ./scripts/cleaner.sh ${{ secrets.DOCKER_HUB_LOGIN_PAYLOAD }} ${{ steps.transform_branch.outputs.branch }}

    - name: Set variables in deployment.yaml
      run: sed -i "s~HASH_PAYLOAD~$HASH_PAYLOAD~g" ./kubernetes/deploy.yaml
      env:
        HASH_PAYLOAD: ${{ steps.branch_hash.outputs.hash_payload }}

    - name: Cleanup cluster
      uses: wahyd4/kubectl-helm-action@master
      env:
          # Config file generated by this manual
          # https://cloud.yandex.ru/docs/managed-kubernetes/operations/create-static-conf
        KUBE_CONFIG_DATA: ${{ secrets.DEV_FRONTEND_GHA_KUBE_CONFIG_DATA }}
      with:
        args: kubectl delete -f ./kubernetes/deploy.yaml
