name: Pull Request

on: pull_request

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
          registry-url: "https://npm.pkg.github.com/mindbox-moscow"

      - name: Prepare build
        run: |
          rm -rf .git
          rm -rf docs
          git clone -b gh-pages https://github.com/mindbox-moscow/ui-kit.git docs
          npm i -g webpack-cli@3.1.2 webpack@4
          npm i

      - name: Build
        run: |
          node ./deploy/patch-version.js
          npm run build
          npm run:examples
          npm run:npm-module

      - name: Run Test
        run: npm run test