.kit-badge {
	position: relative;
	z-index: 1;
	overflow: hidden;
	font-family: "PT Sans", sans-serif;
	display: inline-flex;
	justify-content: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	cursor: default;
	white-space: pre;

	&_size_small {
		font-size: 11px;
		line-height: 14px;
		padding: 3px 8px;
	}

	&_mode_ghost {
		color: #999999;
		border: 1px solid #999999;
		padding: 2px 7px;
	}
}

.kit_badge__progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	z-index: -1;
	transition: width 0.2s;
}
