.kit-badge {
  font-family: "PT Sans", sans-serif;
  display: inline-flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background-color: #417505;
  color: #fff;
  font-size: 13px;

  &__date {
    margin-left: 5px;
    border-bottom: 1px dashed #fff;
  }

  &__text {

    &_withPoint {
      position: relative;
      margin-right: 30px;

      &::after {
        position: absolute;
        top: 50%;
        right: -15px;
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}
