.kit-badge {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 4px;
	border-radius: 3px;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	color: #ffffff;
	white-space: pre;
	cursor: default;

	&_size_small {
		padding: 3px 8px;
		font-size: 11px;
		line-height: 14px;
	}

	&_mode_ghost {
		padding: 2px 7px;
		border: 1px solid #999999;
		color: #999999;
	}
}

.kit_badge__progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 100%;
	transition: width 0.6s ease;
}
