@import "../sass/main";

.kit-filter {
	position: relative;
	z-index: 5;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	box-sizing: border-box;

	&_short {
		display: flex;
		align-items: center;
		height: 46px;
		padding: 0;
		box-sizing: border-box;
		font-family: "PT Sans", sans-serif;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: -0.4px;
	}
}

.kit-filter__short-wrap-filter {
	display: flex;
	height: 100%;
	margin-left: auto;

	> * {
		height: 100%;
	}
}

.kit-filter__all-wrap {
	margin: 6px 11px 6px 22px;
	padding: 0;
	box-sizing: border-box;

	.kit-filter_short & {
		display: flex;
		align-items: center;
	}

	> .kit-filtration-group_not-children {
		.kit-filtration-group__buttons {
			@include removeHorisontalBrackets;

			> .kit-filter-editor .kit-filter-editor__btn,
			> .kit-button {
				opacity: 1;
			}

			> .kit-button:disabled {
				opacity: 0.35;
			}
		}
	}

	> .kit-filtration-group_not-children.kit-filtration-group_edit {
		> .kit-filtration-group__label-line_or,
		> .kit-filtration-group__label-line_and {
			left: -5px;
		}
	}

	~ .kit-filtration-group__label-line {
		padding-top: 2px;
	}
}

.kit-filter__button-up {
	.kit-filter__wrap-filter & {
		margin-left: 22px;
	}
}

.kit-filter__wrap-filter {
	display: flex;
	align-items: center;
	flex-grow: 1;
	box-sizing: border-box;
}

.kit-filter__btn {
	min-width: 160px;
	height: 22px;
	background-color: #f1f5f8;
	border: 1px solid #c5d6e1;
	border-radius: 3px;
	outline: none;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #265378;
	text-align: center;
}

.kit-filter__wrap {
	display: flex;
	height: 40px;
	border-top: 1px solid #d4d4d4;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	box-sizing: border-box;
}

.kit-filter__info-wrap {
	@extend %flex-wrapper;
}

.kit-filter__use-filter {
	width: 399px;
	height: 100%;
	background-color: #e2eaf0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	transition: background-color 0.15s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: #d3e0e9;
	}
}

.kit-filter__clients {
	@extend %clients;

	display: inline-flex;
	align-items: center;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	border: 2px solid transparent;
	box-sizing: border-box;

	&_warning {
		background-color: rgb(242, 227, 191);
		border-color: rgb(230, 180, 82);
	}
}

.kit-filter__clients-number {
	@extend %clients;

	box-sizing: border-box;
	font-weight: 600;

	.preloader_trigger.state-active {
		position: static;
		display: inline-block;
		margin-top: 0;
		margin-left: 5px;
		vertical-align: middle;
	}
}

.kit-filter__clear-filter-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding: 0 30px;
	background-color: $clearButtonColorBg;
	border: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: $clearButtonColor;
	letter-spacing: -0.4px;
	transition: background-color 0.15s ease-in-out;
	cursor: pointer;

	.kit-filter__count-block & {
		height: auto;
		margin: 0 10px 0 30px;
		padding: 0;
		background-color: transparent;
		border-bottom: 1px dotted $clearButtonCountColor;
		color: $clearButtonCountColor;
	}

	&:hover {
		background-color: darken($clearButtonColorBg, 10%);
	}

	.kit-icon-svg {
		margin-right: 7px;
	}
}

.kit-filter__count-block {
	@extend %flex-wrapper;

	height: 100%;
	padding-left: 15px;
	border: 2px solid transparent;
	box-sizing: border-box;

	&_part,
	&_concrete,
	&_all {
		background-color: rgb(229, 237, 212);
	}
}

.kit-filter__count-block-text {
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 19px;
	color: #333333;
	letter-spacing: -0.4px;
}

.kit-filter__top-info {
	margin-right: 10px;
}

.kit-filter__top-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 11px 21px 9px;
	background-color: $topBarBg;
	border-bottom: 1px solid $topBorderColor;
	border-radius: 4px 4px 0 0;
}

.kit-filter__top-right {
	display: flex;

	> *:not(:last-child) {
		margin-right: 8px;
	}
}

.kit-filter__undo {
	display: block;
	margin: 0 12px;
}

.kit-filter__redo {
	display: block;
	margin: 0 12px;
	transform: scale(-1, 1);
}

%clients {
	background-color: #ffffff;
}

%flex-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
}
