// Colors
$clearButtonColorBg: #ffeeeb;
$clearButtonColor: #a12e1e;
$clearButtonCountColor: #a4a4a4;

.kit-filter {
	position: relative;
	width: 100%;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	background-color: #ffffff;
	box-sizing: border-box;
	overflow: hidden;

	&_with-filter-action {
		padding-top: 22px;
	}

	&_short {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #a4a4a4;
		font-family: "PT Sans";
		font-size: 14px;
		letter-spacing: -0.4px;
		line-height: 19px;

		button {
			z-index: 1;
		}

		.kit-filter__all-wrap {
			display: flex;
			align-items: center;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.kit-filter_short {
	padding: 10px 0;
	box-sizing: border-box;
}

.kit-filter__all-wrap {
	padding: 0;
	margin: 11px 11px 11px 22px;
	box-sizing: border-box;
}

.kit-filter__wrap-filter {
	flex-grow: 1;
	box-sizing: border-box;
}

.kit-filter__btn-wrap {
	display: flex;
	margin-top: 56px;
	box-sizing: border-box;

	.kit-button:not(:last-child) {
		margin-right: 10px;
	}
}

.kit-filter__btn {
	height: 22px;
	min-width: 160px;
	border: 1px solid #c5d6e1;
	border-radius: 3px;
	background-color: #f1f5f8;
	color: #265378;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	outline: none;
	box-sizing: border-box;
}

.kit-filter__wrap {
	display: flex;
	height: 40px;
	border-top: 1px solid #d4d4d4;
	box-sizing: border-box;
}

.kit-filter__info-wrap,
.kit-filter__count-block {
	display: flex;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
}

.kit-filter__use-filter {
	height: 40px;
	width: 399px;
	background-color: #e2eaf0;
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	border: 0;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
}

.kit-filter__clients,
.kit-filter__clients-number {
	color: #333333;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	letter-spacing: -0.4px;
	line-height: 19px;
	box-sizing: border-box;
}

.kit-filter__clients {
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid transparent;
	box-sizing: border-box;

	&_warning {
		background-color: rgb(242, 227, 191);
		border-color: rgb(230, 180, 82);
	}
}

.kit-filter__clients-number {
	font-weight: 600;
	box-sizing: border-box;
}

.kit-filter__clear-filter-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	height: 100%;
	padding: 0 30px;
	border: 0;
	color: $clearButtonColor;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	letter-spacing: -0.4px;
	line-height: 19px;
	background-color: $clearButtonColorBg;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;

	.kit-icon-svg {
		margin-right: 7px;
	}
}

.kit-filter__count-block {
	height: 100%;
	padding-left: 15px;
	border: 2px solid transparent;
	box-sizing: border-box;

	.kit-filter__clear-filter-btn {
		color: $clearButtonCountColor;
		padding: 0;
		margin: 0 10px 0 30px;
		height: auto;
		background-color: transparent;
		border-bottom: 1px dotted $clearButtonCountColor;
	}

	&_part,
	&_concrete,
	&_all {
		background-color: rgb(229, 237, 212);
	}
}

.kit-filter__count-block-text {
	color: #333333;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	letter-spacing: -0.4px;
	line-height: 19px;
	box-sizing: border-box;
}

.kit-filter__top-filter {
	position: absolute;
	top: 11px;
	right: 11px;
	display: flex;
	align-items: center;

	> *:not(:last-child) {
		margin-right: 8px;
	}
}
