@import '../variables';

.kit-detalization-row {
    width: 100%;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    display: flex;

    &__name {
        @media (max-width: $tablet) {
            margin-right: 30px;
        }
    }

    &__value {
        flex: 1 0 auto;
        margin-left: auto;
        text-align: right;
    }
}